[2020-08-26 12:28] voxik opened #1 "Bootstrapping of circular dependencies"
Just recently, I have noticed [this](http://koji.fedoraproject.org/koji/buildinfo?buildID=1599965) failed build of rubygem-railties. It was immediately clear to me, that the build failed, because it has circular dependencies with other packages. So I just wanted to rise this topic.

The packages are using [bootstrap flag](https://docs.fedoraproject.org/en-US/packaging-guidelines/#bootstrapping). T

[2020-08-26 12:34] hroncok commented on #1
BTW Side tag builds were discussed at lengths when ELN was proposed.

[2020-09-16 15:49] tdawson opened #2 "ELN and Sidetags - Tracker"
ELN has to deal with several issues dealing with package ordering.
In Fedora, the approved way of dealing with complicated package ordering is to use side-tags.
We plan on implementing side-tags in ELN to deal with package ordering.

This issue to to track the various issues related to ELN side-tags and package ordering.

[2020-09-17 13:02] bookwar commented on #2
The option to create sidetags for the dedicated base tag is already available

But we need an agreement with Koji admins on the policy

Currently it fails with:

[code]

[2020-09-21 11:51] bookwar commented on #2
Sidetag permissions requested in https://pagure.io/fedora-infrastructure/issue/9329

[2020-09-29 18:39] jwboyer opened #3 "Disable armv7hl builds"
At the time of ELN's creation, the premise was to build ELN for all architectures that Fedora supports.  This has largely continued, however there are notable exceptions on the armv7hl architecture.  Specifically, the kernel itself is not built leading to what largely amounts to a non-functional compose for that architecture.

Additionally, there is not a well-define set of requirements for what E

[2020-10-06 12:33] jwboyer commented on #3
@sgallagher @tdawson I think this is complete now?

[2020-10-06 12:35] sgallagher commented on #3
Yes, confirmed this morning that we are no longer building or producing composes for armv7hl in ELN.

[2020-10-06 12:35] #3 closed

[2020-10-08 19:21] pvalena opened #6 "Please do not close Fedora bugs"
The bugs are closed (by Bodhi), because it has "close bugs on stable" set for ELN updates. This also happens even if I build the package in side-tag (or a number of them), and that may take some time until it gets a bodhi update as well.

Example: https://bugzilla.redhat.com/show_bug.cgi?id=1877502

_ _ _ _

Note: the bugs were not added automatically due to [this bodhi issue](https://github.com/f

[2020-10-08 19:26] hroncok commented on #6
See also https://pagure.io/fedora-infrastructure/issue/9191

[2020-10-21 15:22] bookwar opened #8 "Update gcc to gcc11 in ELN"
We are going to use gcc11 in ELN ahead of Rawhide.

We have gcc11 buildt in a sidetag which we need to merge in the ELN. And then we should run a mass rebuild of ELN packages

[2020-10-21 15:45] bookwar commented on #8
The sidetag with the update is available via https://bodhi.fedoraproject.org/updates/FEDORA-2020-44d2abaa1b

Missing steps:
1) packages need to be excluded from the rebuild automation in https://github.com/fedora-ci/eln-periodic/blob/master/eln-check.py#L92
2) we need to decide on when doe we do the Mass rebuild

[2020-10-21 15:47] jakubjelinek commented on #8
For the exclusion from automation, I think we only need to exclude gcc, libtool and annobin shouldn't be diverging from rawhide, so it should be ok if they keep to be updated from rawhide.  All we need to ensure is that these are tagged into eln before somebody rebuilds them in rawhide.

[2020-10-21 15:53] jakubjelinek commented on #8
https://github.com/fedora-ci/eln-periodic/pull/16 for exclusion of gcc.

[2020-10-21 15:53] hroncok opened #9 "Document differences between Rawhide and ELN"
Could https://docs.fedoraproject.org/en-US/eln/ please include an up to day list of differences between Rawhide and ELN? E.g.:

- the dist tag is different
- armv7hl is missing
- gcc was updated to 11
- ...

Thanks.

[2020-10-21 16:03] jakubjelinek commented on #8
As for mass rebuild, I think it would be wise not to do it immediately, but at least for a few days just rebuild with is rebuilt in rawhide.  That is what has been used in rawhide too for years, usually at least a week or two of voluntary rebuilds before doing a mass rebuild.
While Jeff Law has done test mass rebuilds with recent gcc 11 snapshots, they've only been done on x86_64.

[2020-10-21 16:24] JeffreyALaw commented on #8
I don't expect we'll be diverging at a source level for libtool or annobin/annocheck.  So if we need to rebuild them for ELN  (say due to options twiddling in gcc), we should be able to trigger that by doing something like a release # bump in Fedora which in turn would trigger an ELN rebuild.

For mass rebuilding.  Yes, my tester has only been testing gcc-11 on x86_64 and I fully expect some targe

[2020-10-22 09:55] fweimer commented on #8
Currently, `redhat-rpm-config` does not specify the desired x86-64 build flags for ELN. I would like to change this before the mass-rebuild as possible. This change would have to be specific to ELN non-Clang builds (Clang won't be ready before LLVM 12).

[2020-10-23 19:02] bookwar commented on #8
@sgallagher I assume you are going to trigger the mass rebuild in the sidetag before we land this change directly in ELN?

[2020-10-23 20:28] sgallagher commented on #8
The mass rebuild is now running in `eln-build-side-32813`.

[2020-10-26 20:36] bookwar commented on #8
Comparison between rawhide and the sidetag:
[code]
[status.txt](https://github.com/fedora-eln/eln/files/5441383/status.txt)

[2020-10-27 16:34] bookwar commented on #8
@JeffreyALaw I posted the PR with the script `compare.py` which creates the test report: https://github.com/fedora-eln/eln/pull/10

I don't want to merge it as is, but you can checkout the branch and use it directly for now.

[2020-10-28 09:26] bookwar opened #11 "Render ELN status page better in the docs"
To show the status in the docs we use iframe and include page

https://osci-jenkins-1.ci.fedoraproject.org/job/eln-periodic/lastSuccessfulBuild/artifact/status.html

See https://github.com/fedora-eln/eln-docs/blob/master/modules/ROOT/pages/status.adoc

We should change this logic and render the page dynamically using data from https://osci-jenkins-1.ci.fedoraproject.org/job/eln-periodic/lastSucces

[2020-10-28 11:27] sctweedie opened #12 "Compose needs to include fedora-release-eln in BaseOS"
For modules, dnf requires that there is a platform:eln dependency available in the default repos.

Our current composes include fedora-release-eln.noarch in the images (the fedoraci container image includes it) and in the Everything repo; but it is not in BaseOS itself.  And as the Everything repo is not enabled by default, we fail to find the platform dependency and module enablement fails.

The

[2020-10-28 11:29] hroncok commented on #12
This also breaks mock, see https://github.com/rpm-software-management/mock/pull/649#issuecomment-717548383

[2020-10-28 12:23] sgallagher commented on #12
I think this is fallout from the change to using comps.xml instead of the Content Resolver for defining the BaseOS/AppStream split. I'll look into it.

[2020-10-29 09:39] sctweedie commented on #12
@hroncok This should be fixed by https://src.fedoraproject.org/rpms/fedora-release/pull-request/157 and modular dependencies work for me once more in current composes.

Can you check if mock is fixed?  We can close this if there are no other concerns.

[2020-10-29 09:44] hroncok commented on #12
Thanks. The problem with missing fedora-release-eln is fixed, but mock is still broken due to missing glibc-minimal-langpack, see https://github.com/rpm-software-management/mock/pull/649#issuecomment-718248749

[2020-10-29 09:45] sctweedie commented on #12
OK, let's close this issue and we can open another one as needed.  Thanks!

[2020-10-29 09:45] #12 closed

[2020-11-05 15:24] bookwar opened #15 "Rebuid of the selinux update needs to be done in a specific order"
https://bodhi.fedoraproject.org/updates/FEDORA-2020-44f878be7e

libsepol -> libselinux -> libsemanage -> poliycoreutils -> setools -> checkpolicy -> selinux-policy -> shadow-utils -> sssd

[2020-11-05 15:47] bookwar commented on #15
We already have built sssd-2.4.0-3.eln105 while the libraries it links to were not updated in the buildroot

[2020-11-05 17:53] bookwar commented on #15
We got libsepol and libselinux updated.

I've rebuilt the libsemanage but Bodhi is stuck on signing it.

[2020-11-06 10:24] bookwar commented on #2
Proposed workflow:

1) trigger on bodhi update being promoted to stable, rather than on Koji tagging event
2) get the full list of packages from the Bodhi update
3) sort them by time of build
4) request eln sidetag
5) walk through the list of packages rebuilding them one by one in the sidetag
6) if one of the builds fails - stop and report the error
7) if all packages are built successfully, merge

[2020-11-06 11:20] contyk commented on #2
A couple of comments:

1. Triggering on bodhi updates sounds good as it might also imply some test coverage; with Rawhide these are generally pretty fast, even though it will add some delay.
2. Ok!
3. You could be smarter here and see what builds finished before other builds started and put those into buckets for parallel build submission. This would generally improve the step 5; by a lot (see bel

[2020-11-06 13:20] bookwar commented on #15
Libraries landed. shadow-utils and sssd need a rebuild

[2020-11-11 13:47] bachradsusi commented on #15
I'd like to drop libsepol-compat and libsemanage-compat as soon as possible as they have some issues with affects tests. But I can't before shadow-utils is rebuilt

[2020-11-11 13:49] bachradsusi commented on #15
https://koji.fedoraproject.org/koji/packageinfo?packageID=487 shadow-utils is rebuilt

[2020-11-11 15:22] mh21 opened #16 "Generate s390x/ppc64le/arm64 container images for eln"
The Red Hat CKI team (https://cki-project.org/) would like to run kernel tests for ELN on arches other than x64. For that, we need to build a container image derived from fedora:eln for s390x/ppc64le/arm64.

At the moment, the eln container image at https://quay.io/repository/fedoraci/fedora?tab=tags is only available for x64. In koji (https://koji.fedoraproject.org/koji/packageinfo?packageID=2638

[2020-11-11 15:23] mh21 commented on #16
This has also been filed at https://pagure.io/releng/issue/9852. I asked on #fedora-releng and the recommendation was to file a ticket here.

[2020-11-11 19:49] sgallagher commented on #16
I believe https://pagure.io/pungi-fedora/pull-request/937 should address this.

[2020-11-11 21:01] hanzz commented on #16
Just a note for me for tomorrow. We also need to update https://pagure.io/fedora-ci/eln-upload-container-images/blob/master/f/sync-latest-container-base-image.sh so it uploads the images for other arches to quay.io

[2020-11-26 10:14] mh21 commented on #16
Hi @hanzz, I created https://pagure.io/fedora-ci/eln-upload-container-images/pull-request/1 for the sync script.

At the moment, it will not work as the s390x build is unhappy (https://koji.fedoraproject.org/koji/taskinfo?taskID=56229112). Is there anything we can help to move it along?

[2020-11-27 15:29] hanzz commented on #16
sssd package needs to be rebuilt in "eln" Koji tag (or in rawhide to propagate it to eln koji tag) against newer libsemanage.so.2. @sgallagher  can do that, but there is thanksgiving so most of the US people are on holiday.

[2020-11-27 15:34] hanzz commented on #16
Hm, checking the logs that's probably different issue.

[2020-11-27 15:36] hanzz commented on #16
It seems this is not directly related to Fedora ELN. Recent Fedora Rawhide images fail the very same way on s390x.

[2020-11-27 15:43] hanzz commented on #16
Looks like some issue with anaconda. It seems the anaconda did not start on s390x in rawhide when building it. You can try to follow-up with anaconda people. I'm away for the weekend now.

[2020-11-28 12:10] hroncok commented on #2
A random idea: A side tag could be constructed for each build. It is possible to query the rawhide / side-tag builds for the buildroot content with `koji list-buildroot <buildroot_id>` (or an API query equivalent). For each RPM in the buildroot, it is possible to query the Koji build (e.g. with `koji rpminfo tk-8.6.10-3.fc32.x86_64`) and based on that build's *nevr* and/or SCM commit hash, appropr

[2020-11-30 12:27] contyk commented on #16
@hanzz There was a thread about broken s390x buildroots on the devel thread; I didn't pay much attention to it but it's likely related.

[2020-11-30 12:33] contyk commented on #2
It is an idea worth considering but indeed probably quite slow. In extreme cases Rawhide builds could be triggering ELN builds faster than we could process them with all this overhead.

And, of course, it further delays RHEL builds (which are triggered by ELN builds); while I believe the whole cycle is plenty quick now, some still consider it slow.

Anyway, not dismissing, it's an option. It could

[2020-12-07 13:21] thrix opened #19 "Generate AWS images in Fedora Infrastructure"
People would like to test their Github pull requests against Fedora ELN. To do that we would need ELN images to be generated same way as Rawhide images under Fedora Infrastructure AWS account.

For Fedora CI request see: https://pagure.io/fedora-ci/general/issue/185

[2020-12-07 15:25] hroncok opened #20 "Empty ELN compose?"
There seem to be no packages in the ELN compose:

[code]

The repos:

[code]

That is from `fedora-repos-eln-33-1.noarch`.

[2020-12-09 17:59] contyk commented on #20
@sgallagher Did you break it?

[2020-12-09 18:08] sgallagher commented on #20
Looks like `repoquery -a` is broken (or doesn't work with `--repo` properly?)

If I run: `dnf list packages --repo=eln\* \*` I get everything.

[2020-12-09 19:05] hroncok commented on #20
Well, that's just one thing. This doesn't work either:

[code]

Or this:

[code]

[2020-12-09 19:08] hroncok commented on #20
BTW `repoquery` works with `--repo` properly:

[code]

There's something wrong (or different) with the ELN repo.

[2020-12-15 13:59] juanje opened #21 "bash package missing from the repository"
Today we (at [CKI project](https://cki-project.org/)) realized that the package `bash` was missing from the Fedora ELN repository.
`dnf` tries to download the package but it fails:
https://gitlab.com/cki-project/containers/-/jobs/912182861#L963

[code]

I checked the link and the browser show me this message:
[code]

If you go to the directory (https://odcs.fedoraproject.org/composes/production/la

[2020-12-16 08:01] fweimer-rh commented on #8
Has this concluded? GCC 11 is in ELN, but I still see a version discrepancy:

[code]

[2020-12-16 11:15] contyk commented on #21
We had some issues with composes for the last week. I see the package is there now.
Does this resolve your problem?

[2020-12-16 11:16] contyk commented on #21
But also ping @hanzz -- how could that happen?

[2020-12-16 11:19] contyk commented on #8
All these have been built with gcc-11 but for some reason they're not up-to-date. Ping @sgallagher.

[2020-12-16 12:05] juanje commented on #21
@contyk Thanks! I see the package now. I'll check if now it builds.

[2020-12-16 12:13] juanje commented on #21
@contyk Yes, it looks like it's working again:

https://gitlab.com/cki-project/containers/-/jobs/915516537

Thanks!

[2020-12-16 12:13] #21 closed

[2020-12-16 13:43] sgallagher commented on #8
Looks like they were built in a side tag by Jakub *after* I merged the original.

[2020-12-16 13:45] sgallagher commented on #8
Oh, and we still have them excluded from automatic sync; I forgot to change that back when we merged. I'll send a PR shortly.

[2020-12-16 13:56] sgallagher commented on #8
https://github.com/fedora-ci/eln-periodic/pull/22 should fix GCC going forward.

It looks like annobin failed because clang failed to build. I'm not sure why yet.

[2021-01-14 19:16] martinpitt opened #22 "Add cockpit-appstream dist-git/source package"
Due to the BaseOS/AppStream split in CentOS/RHEL, the cockpit source package as it exists in Fedora is split in CentOS/RHEL. The cockpit-appstream source rpm/dist-git is an almost exact duplicate of cockpit.src.rpm, but builds packages like cockpit-packagekit or cockpit-storaged which apply to packages (PackageKit or udisks) which are themselves in AppStream.

There is a cockpit-appstream package/

[2021-01-14 19:17] martinpitt opened #23 "Add cockpit-appstream dist-git/package"
Due to the BaseOS/AppStream split in CentOS/RHEL, the cockpit source package as it exists in Fedora is split in CentOS/RHEL. The cockpit-appstream source rpm/dist-git is an almost exact duplicate of cockpit.src.rpm, but builds packages like cockpit-packagekit or cockpit-storaged which apply to packages (PackageKit or udisks) which are themselves in AppStream.

There is a cockpit-appstream package/

[2021-01-14 19:18] martinpitt commented on #23
Whoa, GitHub is playing weird tricks -- I submitted #22 and got a 404 page, so I went back and tried again.

[2021-01-14 19:18] #23 closed

[2021-01-27 05:31] martinpitt commented on #22
Closing this. @tdawson says there is no way to do that split in ELN. We do it in Fedora, or in RHEL 9 directly.

[2021-01-27 05:31] #22 closed

[2021-02-12 16:53] hroncok commented on #20
I still have this problem. What can I do to make repoquery work on ELN?

[2021-02-12 17:17] sgallagher commented on #20
I'm pretty sure this is a bug in dnf with the globbing:

[code]
and

[code]

vs:

[code]

and, for good measure:

[code]

Essentially, any use of an asterisk appears broken. Please file this as a DNF bug.

[2021-02-12 17:17] #20 closed

[2021-02-12 17:18] hroncok commented on #20
Oh, I haven't thought of this. Thank you!

[2021-02-12 17:31] hroncok commented on #20
For the record, the DNF bugzilla is https://bugzilla.redhat.com/show_bug.cgi?id=1928244

[2021-02-15 14:30] bookwar opened #26 "Collect topics for Fedora ELN Meetup at the Devconf.cz 2021"
On Saturday, February 20, 2021 we are going to have Fedora ELN Meetup at the Devconf.cz

https://devconfcz2021.sched.com/event/gmYF/fedora-eln-meetup

Let's use this issue for topics and discussion items which we want to cover at the meetup.

Anyone can suggest the item via a comment.

[2021-02-15 15:52] bookwar commented on #2
Saving it from local conversation:

The current workaround how to land build group in Rawhide/ELN. Needs to be implemented manually by the Fedora maintainer.

1. Request dynamic sidetag for rawhide and build all required packages into it with `fedpkg request-side-tag`
2. if all rawhide packages were built successfully, request dynamic sidetag for eln with `fedpkg request-side-tag --base-tag eln` a

[2021-02-15 15:56] hroncok commented on #2
Just curious. Why not eln bodhi update in the last step?

[2021-02-15 18:43] bookwar commented on #2
I was thinking by some reason that we bypass bodhi in ELN. Which is not true https://bodhi.fedoraproject.org/releases/ELN

You are right. `bodhi update` should be good for ELN too. I'll update it

[2021-02-17 13:11] contyk commented on #26
I think I'd have two potential topics.

1. Long term goals of ELN. Clearly ELN serves as a base for the next major version of RHEL but is there any interest to keep it alive, installable and in generally good shape during the long, quiet periods between releases (effectively around two years)? Are RHEL SSTs going to be maintaining their workloads? How much effort should we invest in more automatio

[2021-02-19 14:04] thrix commented on #19
@bookwar @contyk could sombody look at this? We now have ELN support in packit, we want to test against ELN, but this is blocking this effort

[2021-02-19 14:09] jkonecny12 commented on #19
Hello,

I work on Anaconda and we would like to add ELN to others already supported test environments in Packit on our PRs. Right now we are using Packit to run basic tests for F34 and master but for ELN we are using it just for builds. It would be great to also use tests there.

Also our other projects would benefit from that. Namely https://github.com/rhinstaller/python-simpleline and https://gi

[2021-02-19 14:13] contyk commented on #19
Probably @sgallagher might be the best person to drive this.

[2021-02-19 14:16] sgallagher commented on #19
Yeah, this is definitely a reasonable request. Let me pull in @hanzz as well.

[2021-02-19 15:45] fweimer-rh opened #28 "mock -r fedora-eln-x86_64 --init fails"
There seems to be a key mismatch:

[code]

Seen with:

[code]

I don't see any relevant packages in updates-testing.

[2021-02-19 15:49] fweimer-rh opened #29 "fedora-release should define rhel as 10"
`fedora-release-common-35-0.2.eln110.noarch` is still set up as major release 9, as far as I can see.

[2021-02-19 18:27] fweimer-rh commented on #29
This issue is based on

If ELN is not actually tracking rawhide, then bumping the major release number at this point would be premature.

[2021-02-20 07:29] bookwar commented on #26
Etherpad for real-time coordination

https://etherpad.gnome.org/p/fedora-eln-meetup

[2021-02-20 07:31] bookwar commented on #26
@sgallagher FYI

[2021-02-20 09:42] sgallagher commented on #16
Bump. We need to revisit this.

[2021-02-20 09:54] bookwar opened #30 "Run dist-git tests on ELN builds"
Since ELN goal is to minimize the set of dependencies, ELN builds can not be fully tested via %check section of the rpm spec file during the rpm build

Preferred way:

On pull request to Fedora Rawhide dist-git, create ELN build and run dist-git tests for it. Provide feedback to the PR

Also possible:

On ELN build run a dist-git test and provide feedback to Koji

[2021-02-20 09:57] sgallagher commented on #29
That's a bug, but it shouldn't actually be affecting the builds because we override that value in the `eln-build` tag:

[code]

But yeah, the fedora-release value should indeed be updated to match.

[2021-02-20 09:59] sgallagher commented on #29
https://src.fedoraproject.org/rpms/fedora-release/pull-request/170

[2021-02-20 10:02] bookwar commented on #26
# Topics

## What is ELN

Alternative buildroot for Fedora Rawhide

https://raw.githubusercontent.com/fedora-eln/eln-docs/2b865992b452ea4a1a4a93d3a7a791ba57002dd3/modules/ROOT/assets/images/fedora-eln-centos-stream-rhel.png

## Current status

* https://docs.fedoraproject.org/en-US/eln/status

SAME  3638  97.80%   Rawhide and ELN builds are caught up
OLD   76    2.04%    ELN build is older than Ra

[2021-02-20 10:02] #8 closed

[2021-02-20 10:02] #26 closed

[2021-02-20 10:04] sgallagher commented on #6
This was tracked in
https://github.com/fedora-infra/bodhi/issues/4094

[2021-02-20 10:04] #6 closed

[2021-02-20 10:06] sgallagher commented on #28
@mohanboddu Can you look into this, please? It looks like more fallout from the F34->F35 signing issue.

[2021-02-20 10:07] #15 closed

[2021-02-20 10:11] sgallagher opened #31 "Rate-limit the eln-periodic task"
As noted in [this](https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/message/AVFI3WEXYIEK2WXEHERBABDN6ZJU3MPJ/) Fedora Devel thread, the number of attempts to rebuild failed packages is unnecessarily high. We should implement a ramp-down mechanism to reduce the rate at which individual packages are retried.

[2021-02-20 10:20] bookwar commented on #31
The current (very simple) rate logic is implemented

There is a cron configuration to run eln-periodic job (currently every hour).
And then there is LIMIT value which controls how many rebuilds the periodic job will trigger(currently 10).

We create a list of components we need to rebuild, randomize them, then take $LIMIT number of items from the top of the list and trigger rebuilds.

There is als

[2021-02-20 10:24] hroncok commented on #28
See also https://pagure.io/releng/issue/10007 (closed). Was there a successful ELN compose since then?

[2021-02-20 10:28] bookwar commented on #11
I've attempted to fix this but I am stuck on Cross-Origin Resource Sharing issue:

If I build a json file via Jenkins and make it accessible via artifacts, as in  https://osci-jenkins-1.ci.fedoraproject.org/job/eln-periodic/lastSuccessfulBuild/artifact/status.txt, I can not access this file from a Java Script on the docs site.

[2021-02-20 10:36] bookwar opened #32 "Document checklist for branching"
We have two branching events on the infrastructure: Fedora Rawhide branching every 6 months and RHEL branching approximately every 3 years. Both events have a list of associated actions. So we need to track them.

@tdawson You have a list of thing already, I believe, but these are additional items:

* [Fedora Branching] Trigger for ELN pipeline https://github.com/fedora-ci/eln-build-trigger/pull/2

[2021-02-20 11:14] hroncok commented on #29
https://bodhi.fedoraproject.org/updates/FEDORA-2021-5bf61befbf

[2021-02-20 11:59] bookwar commented on #2
Examples of a message Bodhi sends when bodhi update is ready to test

https://apps.fedoraproject.org/datagrepper/raw?topic=org.fedoraproject.prod.bodhi.update.status.testing.koji-build-group.build.complete&rows_per_page=1&delta=127800

[code]
The order of builds can be taken from task ids

This message is sent _before_ the builds pass rawhide gating but after all builds in the sidetag are built su

[2021-02-20 15:33] mohanboddu commented on #28
distribution-gpg-keys should be updated to handle https://src.fedoraproject.org/rpms/fedora-repos/c/dac6fcdf6c063f1e049ddc7b33f3b299bb643d7f?branch=rawhide

[2021-02-20 15:38] mohanboddu commented on #28
Filed a bz for it - https://bugzilla.redhat.com/show_bug.cgi?id=1931095

[2021-02-21 18:14] nirik commented on #28
Seems not:

[code]

[2021-02-21 21:48] xsuchy commented on #28
This happens because packages in that repo are signed with fedora-34-primary while mock is configure to use fedora-rawhide-primary which is a symlink pointing to fedora-35-primary. I will try to come with something together with @praiskup tomorrow morning - likely use N and N-1 key in Mock's config.

[2021-02-22 07:34] praiskup commented on #28
Yes, this deserves work-around in mock-core-configs, https://github.com/rpm-software-management/mock/issues/702

[2021-02-22 13:10] sgallagher commented on #28
Well, the packages in ELN are always meant to be signed with the Rawhide key. The glitch here happened that we forgot to run the re-signing at Branch and then we have also had compose failures since we actually did so. It likely wouldn't hurt for `mock-core-configs` to be over-protective about this, but the bug really is on our end.

[2021-02-22 13:23] fweimer-rh commented on #28
But is ELN really tracking rawhide at this point. The most recent builds at https://koji.fedoraproject.org/koji/packageinfo?packageID=57 suggest that ELN is following Fedora 34 content.

[2021-02-22 13:26] sgallagher commented on #28
https://github.com/fedora-ci/eln-build-trigger/commit/e06c43a50d5ee0d7bb702542f2ed5e5b7b1150ca

Looks like someone forgot to update the trigger until two days ago. It should be properly tracking Rawhide at this point.

[2021-02-22 13:36] mohanboddu commented on #28
But chkconfig-1.15-2.eln109 is signed with both F34 and F35 key.

[2021-02-22 14:33] bookwar commented on #32
I would just say "branching" and put it under Infrastructure section

[2021-02-22 16:19] #29 closed

[2021-02-22 17:08] tdawson commented on #32
Pull request is in.
It has the basic layout, Fedora Branching, RHEL Branching.
Fedora branching has an entry for "Trigger for ELN Pipeline", as well as my "ELN fedora release and repo"
It didn't put anything under the RHEL Branching other than the basic description.

https://github.com/fedora-eln/eln-docs/pull/19

[2021-02-24 11:31] hroncok commented on #2
Alternative solution for site tags:

1. A side tag is merged to Fedora, it contains N builds from N packages, N >= 1
2. An ELN side tag is automatically created (if (1) contains at lest one ELN package).
2. Each build from (1) gets tagged directly to the ELN side tag from (2) (yes, the Fedora builds) except packages that are not part of ELN.
3. All builds are `koji wait-repo`ed (including the non-

[2021-02-24 17:22] tdawson commented on #32
The document is there now
https://docs.fedoraproject.org/en-US/eln/branching/

My stuff is on it.  If others want to update it, it is here
https://github.com/fedora-eln/eln-docs/blob/master/modules/ROOT/pages/branching.adoc

[2021-02-25 18:08] sgallagher commented on #2
Assuming step 6 includes ensuring we don't tag any of the Fedora builds in as part of merging the side-tag, that is a good idea.

[2021-02-25 18:09] hroncok commented on #2
Right. I'll edit.

[2021-02-25 18:15] hroncok commented on #2
Another note: If another rawhide side tag happens and the set of the packages is overlapping, I would not recommend processing the second side tag before the first one is merged/deleted.

[2021-02-25 18:17] sgallagher commented on #2
I was assuming we'd be triggering this on the rawhide side-tag getting merged. So unless they merge them together...

[2021-02-25 18:20] hroncok commented on #2
Not together.

1. Rawhide side tag with packages A B C D is merged.
2. ELN creates side tags, starts builds, package D builds for very long time...
3. Meanwhile, a new rawhide side tag with packages B C E F is merged.

[2021-02-25 18:28] sgallagher commented on #2
Ohhh, I misunderstood. Thanks.

[2021-03-04 18:49] davide125 opened #33 "Document how to consume ELN composes"
Composes for ELN don't seem to be shipped to the mirror network, so they need to be fetched from https://odcs.fedoraproject.org/composes/production/latest-Fedora-ELN/

This makes it a bit tricky to find a safe way to maintain a local mirror of a copy of the latest compose (e.g. for testing or CI purposes), so it'd be great to document that. Specifically:
- how to make sure the "latest" compose is

[2021-03-08 14:29] bookwar opened #34 "BuildError: package ipa-healthcheck not in list for tag eln-updates-candidate"
freeipa-helthcheck update cannot be rebuilt to ELN due to the renaming

https://osci-jenkins-1.ci.fedoraproject.org/job/eln-build-pipeline/51212/

[code]

[2021-03-08 16:20] bookwar commented on #34
The list of packages which are added to ELN tag can be obtained by `koji list-pkgs --tag eln --noinherit`

We need to add `ipa-healthcheck` to this list

[2021-03-09 17:58] bookwar commented on #34
Requested configuration update in https://pagure.io/fedora-infrastructure/issue/9719

[2021-03-11 11:53] voxik opened #35 "Feature flags"
I wonder what is the plan leveraging the feature flags using `%bcond_with`?

[2021-03-16 13:11] sgallagher opened #37 "SIG Members: Make your org membership public"
I'd like to use the membership in our Github Organization the official record of who is an active member of the SIG. However, in order to do this, we all need to make our membership a matter of public record. Please browse to https://github.com/orgs/fedora-eln/<github_name>, and select `public` from the `membership` drop-down on the left.

[2021-03-25 12:10] juanje opened #38 "Missing package git-core at the repository"
At the Red Hat CKI team (https://cki-project.org/) we're building containers images (based on ELN) to run kernel tests for ELN, but since yesterday started to break due a missing package (`git-core`). It happens with all architectures we test (`amd64`, `arm64`, `ppc64le` and `s390x`).

Here is the error:
[code]
The full log is here: https://gitlab.com/cki-project/containers/-/jobs/1127107006

I ch

[2021-03-26 12:18] sgallagher commented on #38
It has been 26 days since we had a successful ELN compose, due to a series of issues. I'll look into it.

[2021-03-26 13:23] praiskup commented on #33
Having mirroring would be helpful.  Copr build failures are very frequent in ELN repositories, compared to others that build from mirrors.  E.g.:
https://download.copr.fedorainfracloud.org/results/pemensik/bind-9.16/fedora-eln-x86_64/02100466-bind/builder-live.log.gz

[2021-03-26 14:23] juanje commented on #38
@sgallagher I've realized that the build of the base system we do (we build our own base container because of this issue #16 ) has failed due another missing package (`glib2`):

[code]
The full log is here: https://gitlab.com/cki-project/containers/-/jobs/1131299566#L1138

[2021-03-26 16:30] davide125 opened #39 "Reduce ELN compose frequency"
As discussed in the last meeting, ELN composes every few hours make mirroring unteanble, and it looks like we don't actually need them to be that frequent. Look into reducing to once a day or something like that.

[2021-03-26 16:32] davide125 commented on #33
Discussed in today's meeting, need to sort out #39 first, then revisit https://pagure.io/fedora-infrastructure/issue/9730

[2021-03-27 11:20] jkonecny12 commented on #38
Hi @sgallagher , is there something to be done to stabilize the ELN composes? Anything we can do (Anaconda team)?

Right now, it's not really happy situation, our ELN tests are most of the time failing. I'm starting to think about disabling them because of the failure rate. I would try to solve this by creating some repository syncing to have a fallback but that wouldn't solve Packit which is usin

[2021-03-29 20:34] sgallagher commented on #38
@jkonecny12 I'm looking into it now. It looks like the latest problem is due to the xorg-x11-server-utils being split out into multiple packages; our lorax config is inheriting from RHEL 9's config which still uses the old name. I've got Jan Kaluza looking at it.

Going forward, we're looking at getting a compose success/failure dashboard up so members of the ELN SIG can spot when it's broken and

[2021-04-01 08:09] voxik commented on #2
As a stopgap solution, can we stop importing builds where there is the slightest chance that their rebuild will be not the right one, let these situation to be handled manually?

[2021-04-07 12:17] jkonecny12 commented on #38
Seems to be working correctly for us now. Thanks a lot!

[2021-04-12 11:46] juanje commented on #38
@sgallagher Thanks for everything, it seems to be working fine for us as well! :smiley:

[2021-04-12 11:46] #38 closed

[2021-04-16 00:42] tstellar opened #40 "Create infrastucture for building alternative composes based on ELN"
I'm interested in helping to create infrastructure for building alternative composes based on ELN.  This follows on some of the ideas proposed on the Fedora mailing list ([Alternative buildroot as a development too](https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/thread/3Z5SMF6CPL3MK2CNYPUW4OZYMA6TZJBN)),([Fedora as an operating system factory](https://lists.fedoraproje

[2021-04-20 09:27] jkonecny12 opened #41 "Missing package libxkbcommon"
Hi, want to give you a heads-up that we have another missing package in ELN.

[code]

[Packit](https://copr-be.cloud.fedoraproject.org/results/packit/rhinstaller-anaconda-3297/fedora-eln-x86_64/02141115-anaconda/builder-live.log.gz) and our [containers builds](https://github.com/rhinstaller/anaconda/runs/2385980195?check_suite_focus=true#step:3:158) are failing because of this.

Have a great day e

[2021-04-21 09:55] thrix commented on #19
@hanzz @sgallagher hi, any update around this? can we expect these images to land sometime, in what timeframe? thanks

[2021-04-21 22:37] juanje opened #42 "Missing packages 'file-libs' and 'file' at the repository"
Hi, I was trying to build base container for `amd64`, `arm64`, `ppc64le` and `s390x` , and the packages `file-libs` and `file` seem to be missing from the compose (for the 4 architectures):

**file-libs**:
[code]

**file**:
[code]

[2021-04-23 15:15] bookwar commented on #41
[code]

I assume that package was updated to libxkbcommon-1.2.1-1.eln110

[2021-04-23 15:53] #34 closed

[2021-04-23 15:58] bookwar opened #43 "ELN compose for Apr 23 2021 failing with lorax templates error"
https://odcs.fedoraproject.org/composes/odcs-14520/logs/x86_64/buildinstall-BaseOS.x86_64.log

[code]

[2021-04-23 16:11] michel-slm commented on #37
@sgallagher a couple of things
- I think the right URL is https://github.com/orgs/fedora-eln/<github_name>
- my invitation expired, could I get re-invited?

[2021-04-23 16:47] tdawson commented on #43
I've tagged in (and gotten signed) lorax-35.0-3.eln110
Let's try a compose and see if that fixes things.

[2021-04-23 16:52] michel-slm opened #44 "SIG Membership Request: michel-slm"
### Your Name:
* Michel Salim
### FAS Account:
* salimma
### What would you like to help with?
* working on making ELN consumable and being able to build additional non-core packages against ELN

note: I was invited earlier but did not accept in time

[2021-04-23 16:55] michel-slm opened #45 "New ELN-based workload for 'extra' packages"
Per @bookwar, to have something like "EPEL for ELN" or "ELN Extras" we would need a separate workload defined in
https://github.com/minimization/content-resolver

and a starting set of packages we want to build. Dependencies will be resolved and pulled in automatically, so for those who want to use this to prep for the next wave of EPEL branch requests, the added bonus is we only have to list the

[2021-04-23 19:25] tdawson commented on #43
Nope, still failing with the same error.
I double checked that it was installing lorax and lorax-templates-generic 35.0-3.eln110.

[2021-04-26 15:27] tdawson commented on #45
I talked with Adam about this.  This will require creating a new label and view for Content Resolver.  The view would use the two labels eln and eln-extras.  The new workload(s) would then use the label eln-extras.  This would generate a new view with new lists of packages that should include both ELN and ELN-Extras.
The build scripts would then have to take a diff before the ELN view and the ELN-

[2021-04-26 16:18] hroncok commented on #45
I also wonder about source packages that only include a subset of their (sub)packages in ELN. If EPEL needs the rest, what would happen?

[2021-04-26 16:34] tdawson commented on #45
This is for ELN Extras, not EPEL.  The ELN repo's have all sub-packages built from the packages.

ELN and EPEL are two totally different communities, with two totally different timelines.
Oddly enough, at the present time, there is a large number of the same people working on both.

I do not agree that the goal of ELN Extras should be to feed EPEL.  That would be three years of wasted Fedora resou

[2021-04-26 16:44] tdawson commented on #45
Wow, that sounded harsh.
I'm trying to prevent scope-creep for both ELN and EPEL.

[2021-04-26 16:45] hroncok commented on #45
Sorry for the confusion. Your reply did not sound harsh when I read it in my head.

About the same problem, sans the EPEL name:

Oh, unlike RHEL then. Didn't know that. So the missing+needed transitive dependencies for those would be part of ELN Extras?

[2021-04-26 16:49] hroncok commented on #45
Also note that the ticket here actually talks about EPEL.

I agree that using ELN Extras for EPEL would just be wasting Fedora resources for 3 years. But I might say that about ELN for the next 3 years as well (we'll see how it actually goes after EL 9 is out).

[2021-04-26 16:51] tdawson commented on #45
I might have spoken too soon, and you might have a point, but I think it might still work out.

In the koji buildroot, all the subpackages are available, so if there is a build dependency, you don't have to worry about that.

BUT, the ELN compose is divided up into the various BaseOS, AppStream, and CRB. So runtime (vs buildtime) packages might be missing.

BUT, we would have them available.  So i

[2021-04-26 16:53] hroncok commented on #45
Yeah, Koji sees them. But Koji also sees rawhide.

[2021-04-26 16:59] tdawson commented on #45
Yep.  But I'm hoping that Content Resolver would find all the runtime and buildtime packages we need, and pull them into the Extras "repo" or "list of packages" (I don't know what to call it).
If we do grab a rawhide package or two, it's pretty easy to spot.

Anyway, in short, we need to get Content Resolver going with the new view.  The build-time stuff should take care of itself.  And we'll have

[2021-04-27 12:23] juanje commented on #42
@sgallagher Hi, do you know something about it? is it because of the same issue than #38?

[2021-04-27 12:24] sgallagher commented on #44
You are already added as a SIG member at https://github.com/orgs/fedora-eln/people

[2021-04-27 12:24] #44 closed

[2021-04-27 12:25] sgallagher commented on #42
We are still dealing with a lack of a successful ELN compose for many weeks. I am looking into the root cause. Both of those packages should show up once a compose completes.

[2021-04-27 12:53] juanje commented on #42
I see, sorry to read that. Thanks!

[2021-04-27 13:58] sgallagher commented on #37
You are a full member

[2021-04-27 13:58] #37 closed

[2021-04-27 13:59] sgallagher commented on #43
@hanzz
I've been trying to dig in and figure out what happened here, but I'm not having any luck. Can you help?

[2021-04-27 21:22] portante commented on #42
We are seeing the same problem (had filed this against COPR, https://bugzilla.redhat.com/show_bug.cgi?id=1954009).

[2021-04-28 13:27] hanzz opened #46 "Create lorax-templates-eln"
Similar to lorax-templates-rhel or lorax-templates-generic in fedora, we need lorax-templates-eln which would install following files:

https://odcs.fedoraproject.org/composes/lorax-templates/

We can then stop using this hack to get custom templates to Fedora ELN process and we can just normally install the lorax-template-eln file from Koji "eln-build" tag.

[2021-04-29 00:22] tstellar opened #47 "Analyze resource usage for ELN builds"
Determine how much koji builder resources are used by ELN.  This is a prerequisite for #40.

[2021-04-29 00:46] sgallagher commented on #43
@hanzz identified and fixed this issue today with a hack, but we need a more robust long-term solution (tracked as #46)

[2021-04-29 00:46] #43 closed

[2021-04-29 00:48] sgallagher commented on #42
We finally got a successful compose today which will resolve this. The repo now contains `file-5.40-5.eln110`.

[2021-04-29 00:48] #42 closed

[2021-04-29 00:50] sgallagher commented on #41
This should be resolved now that we have a successful compose (which we were missing for a few weeks).

[2021-04-29 00:50] #41 closed

[2021-04-29 00:52] sgallagher commented on #39
@hanzz Can you adjust the frequency for this? Right now the ODCS composes are every three hours, but they probably only need to be daily (or on-demand, as needed).

[2021-04-29 00:53] sgallagher commented on #35
@contyk Was going to look into this after F34 was out the door, so now seems like the right time to restart that discussion.

[2021-04-29 00:55] sgallagher commented on #28
This is working these days, so I'm closing this ticket.

[2021-04-29 00:55] #28 closed

[2021-04-29 00:57] sgallagher commented on #19
Sorry, this fell completely off my radar. Let's put this on the upcoming meeting agenda and find someone to drive this.

[2021-04-29 03:05] tstellar commented on #47
Here is some data I pulled from koji.

Latest Builds of All Packages (resources required to do a mass rebuild):
Arch | Tasks | Duration (Hours) | Host Cores * Hours | Cores per Task
-------|---------|------------------------|----------------------------|---------------------
noarch | 9106 | 194 | 1579 | 7.76
armhfp  | 4 | 0  | 0 | 1.00
aarch64  | 2082 | 283 | 5322 | 21.33
i386 | 2052 | 132 |  3350

[2021-04-29 07:41] thrix commented on #19
@sgallagher no worries, thanks for putting it on radar!

[2021-04-29 11:14] juanje commented on #42
Great! Thanks!

[2021-04-29 14:44] portante commented on #42
Thank you so much!

[2021-04-29 15:17] tdawson commented on #46
lorax-templates-generic is a subpackage of lorax.
lorax-templates-rhel is it's own package.

Does anyone have a preference on having lorax-templates-eln a sub-package to lorax, or be it's own package?

My preference is to have it be a sub-package of lorax.

[2021-05-03 14:00] asamalik commented on #45
I'm working on a feature for [Content Resolver](https://tiny.distro.builders/) that will allow us to resolve an extra set of packages on top of the whole ELN set, but keep it on the side.

[2021-05-04 02:45] tstellar opened #48 "SIG Membership Request: Tom Stellard"
### Your Name:
* Tom Stellard
### FAS Account:
* tstellar
### What would you like to help with?
* I'm interested in helping to build up the infrastructure for creating alternative composes based on ELN.

[2021-05-04 13:42] sgallagher commented on #48
Welcome aboard!

[2021-05-04 13:42] #48 closed

[2021-05-04 14:07] rlemosor opened #49 "Gating Test: Compare ELN build to RHEL build"
We want to make sure that packages have the right conditionals in ELN so that they are producing an equivalent package to RHEL. One thing we can do to detect this earlier is write a gating test that compares the RHEL build to the ELN build. (For a place to start, we could confirm that the binary packages produce the same filenames.)

[2021-05-04 14:36] rlemosor opened #50 "Create reporting for ELN compose"
To help monitor the status of ELN composes, a "health" dashboard could be put in place that would report on:
- scorecard: build error rate in the last 7 days
- timeline graph: build error rate in the last 7 days, per day
- compose error breakdown
- and more that might be seen as beneficial.

Additionally, a mailing service could be pout in place that would
- send email notifications to the ELN SiG

[2021-05-04 14:45] rlemosor opened #51 "Create removal and add script to eln-periodic pipeline"
Packages are removed and added to Content Resolver all the time. We need a way to add and remove the packages automatically.

Removing Steps:
1- Determine if the package is still in Content Resolver list.
2- Untag the package from eln

Adding Steps:
1- See if there is an ELN tagged package for the packages in Content Resolver
2- If there is not an ELN tagged build for the package
2a- (Currently) A

[2021-05-04 14:50] rlemosor opened #52 "Create a weekly e-mail report on ELN FTBFS"
It might make sense for the ELN SiG mailing list to receive a weekly "damage" report of the outstanding failures to build from source (FTBFS). While maintainers are supposed to watch their own builds, including when they fail, and they may already be de-sensitized to bugs being auto-filed on their behalf. Therefore, having a round-the-clock service that would file Bugzilla bugs for every failure m

[2021-05-04 14:52] rlemosor opened #53 "ELN needs a texlive configuration closer to RHEL"
The texlive shipped in RHEL is a minimal subset of the upstream distribution providing only what is strictly needed, whereas the version shipped in Fedora (and currently ELN) contains the whole texlive distribution, which is several orders of magnitude larger.

This causes issues with the Content Resolver, as it is pulling in FAR more dependencies than it needs to. Also, some packages that build f

[2021-05-04 15:08] hroncok commented on #53
Fedora 34 already branched in February. It was released last week.

[2021-05-05 07:50] rlemosor commented on #53
(blind copied the issue in here from an older tracker, adjusted the text)

[2021-05-07 15:07] tdawson commented on #53
The complication with this is that Fedora's texlive is divided into texlive and texlive-base.  RHEL's texlive has both of those in one package.
I don't have any proposals for the fix, I'm just pointing out the main reason for the discrepancy.

[2021-05-07 15:14] tdawson commented on #50
I have a script that generates a simple web page, nothing like what you are asking.
But it's a step 1, and is a place people can quickly look to not only see the state, but some starters on what a problem might be if there is a failure.

[2021-05-07 16:55] nirik opened #54 "ELN FTBFS bugs get mixed with rawhide ones"
Case in point:

https://bugzilla.redhat.com/show_bug.cgi?id=1924713

FTBFS filed due to a failed build in eln. Then, rawhide bugs moved to f34 after branching, then the ticket was ignored by maintainers because it was a ELN issue, then package orphaned because no activity on the FTBFS bug. :(

https://pagure.io/releng/blob/main/f/scripts/ftbfs-fti
are the scripts.

A number of options here to impr

[2021-05-07 18:39] hroncok commented on #54
Note that https://pagure.io/releng/blob/main/f/scripts/ftbfs-fti is not actually used here. (I don't know what is.)

[2021-05-07 18:43] hroncok commented on #54
I think it is https://pagure.io/releng/blob/main/f/scripts/find_failures.py + https://pagure.io/releng/blob/main/f/scripts/mass_rebuild_file_bugs.py

[2021-05-10 13:11] sgallagher commented on #46
We decided with Brian Lane to make this its own package that we can use as the upstream for RHEL N+1 in ELN, so I've submitted a review request here: https://bugzilla.redhat.com/show_bug.cgi?id=1957929

[2021-05-10 14:11] voxik commented on #53
Just FTR, rubygem-kramdown is apparently one of the packages which builds in ELN but fails in c9s [1].

[1] https://bugzilla.redhat.com/show_bug.cgi?id=1951246

[2021-05-10 14:19] voxik opened #55 "TASK: Provide way to customize package comparing to Fedora"
### What does the ELN SIG need to do?

Recently, my request for minimizing package dependencies was denied in Fedora [1]. I completely understand the reasons. Nevertheless, I'd still love to have a way to override Fedora and I see several options:

1) Have ELN branch for such cases. This would need to be approved. The additional commits would need to be rebased on top of the Fedora changes and if

[2021-05-10 18:27] sgallagher commented on #46
Built and will be available for the next ELN compose.

[2021-05-10 18:27] #46 closed

[2021-05-14 14:09] sgallagher commented on #35
@contyk ping

[2021-05-14 14:22] sgallagher opened #56 "Create process for ELN-specific changes that cannot go to Rawhide"
### What does the ELN SIG need to do?

In nearly all cases, we want the `rawhide` branch in dist-git to provide the sources used to build packages for ELN. This ensures that they are kept up to date and minimizes packager effort (since they do not have to maintain an extra branch).

However, there are some cases where changes desired for ELN (and by extension, enterprise linux) cannot go into Rawh

[2021-05-14 14:22] sgallagher commented on #55
@voxik I've opened #56 that I think will be closely related to this ticket.

[2021-05-14 14:30] sgallagher commented on #56
Thread started:
https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/thread/44JTGXWOLMIYH26VHXEFKDQEDWUY3H3Z/

[2021-05-17 07:47] contyk commented on #35
Glad to see there is some interest in this.

I got some interesting feedback for the original proposal; mostly positive for the idea itself, some ideas for the implementation. The next steps aren't super clear but I'd like the second iteration to address a few things:

1. Make it easier for people to define package-specific flags, preferrably directly in their packages. One possibility to do this

[2021-05-19 06:27] msrb commented on #2
I know jkaluza is working on proper side-tag rebuilds for c9s, so maybe the same solution could be applied here.

[2021-05-19 13:48] tdawson commented on #2
I hope so, or at least some variation of it.
The problem with the c9s side-tags is that they are manual, and the ELN one's have to be automatic.
But, the c9s side-tags have to automatically bring those side-tags into the RHEL build infrastructure.  So I think whatever automation they do there, should (hopefully) directly apply here.

[2021-05-24 09:38] voxik commented on #35
Was it something tangible?

I think that ATM, it would be enough if the feature flags were some `macros.features` file with list of:

[code]

This is pretty basic. It could be pulled in via redhat_rpm_config and that would be it.

[2021-05-24 09:58] contyk commented on #35
It was, yes: https://gist.github.com/contyk/0aaaaf0585c57976ca18a293b3566408
It also included a COPR package with a sample implementation.

[2021-05-24 09:59] contyk commented on #35
Discussion: https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/thread/4DWDPKYBOXTCGKXJTOIVPO34A5BTOE3T/

[2021-05-25 07:40] praiskup commented on #33
Is there ETA for this?  I'm asking because we would like to release new mock-core-configs with mirrored
ELN repos soon (2-4 weeks).

[2021-05-25 15:26] davide125 commented on #33
`rsync://dl.fedoraproject.org/fedora-eln` is now available, which makes it possible to mirror ELN efficiently. Facebook has an mirror up at https://mirror.facebook.net/fedora-eln/ but I'm not aware of any others. Still need to update the documentation.

[2021-05-27 14:04] hroncok opened #57 "The "Perl 5.34 rebuild" bumps were rebuilt with Perl 5.32 in ELN"
Many Perl packages were bumped as "Perl 5.34 rebuild" and rebuilt with Perl 5.34 in Fedora Rawhide, but they were rebuilt with Perl 5.32 in Fedora ELN.

[2021-05-27 16:56] sgallagher commented on #57
Thanks for letting us know; I'll try to have a look at this next week.

[2021-06-01 21:09] sgallagher commented on #57
The underlying reason here is that Perl 5.34 is FTBFS in ELN (faiing tests), so I'll need some help from the Perl experts. Or possibly the toolchain, if it turns out the problem is with different compiler configuration.

[2021-06-01 21:09] sgallagher commented on #57
For posterity:
[code]

[2021-06-01 21:59] hroncok commented on #57
I'd say the underlying reason here is the build order / bootstrap issue in ELN wrt side tags.

[2021-06-02 20:56] voxik opened #58 "TASK: Fix ELN compose"
### What does the ELN SIG need to do?

It seems that content resolver does not provide [up2date results](https://github.com/minimization/content-resolver-input/issues/589), because ELN compose is broken for 16 days already. It would be nice to have it fixed

[2021-06-03 00:38] sgallagher commented on #58
I didn't realize it was broken. I have automation that is supposed to let me know when a compose is DOOMED, but I just discovered that the `latest` symlink appears not to be getting updated properly, so my detection script was always pointing at an old successful compose.

I'll see what I can do about the current breakage, but I'd like @hanzz to take a look at what's up with the `latest` symlink (

[2021-06-03 00:56] sgallagher commented on #57
I think this should be mostly sorted out now. I did a mini-mass-rebuild of the affected packages in ELN today.

[2021-06-03 00:56] #57 closed

[2021-06-03 10:24] hroncok commented on #57
Thanks. Just a heads up that this might also happen with Python 3.10.

[2021-06-03 12:38] sgallagher commented on #58
The current compose issue is actually a bug on the Koji side: https://pagure.io/koji/issue/2897

I'll lean on them to get that fixed ASAP. Thanks for the report.

[2021-06-03 14:01] sgallagher commented on #57
Yeah, I'm aware of it (and it probably will).

[2021-06-03 16:07] portante commented on #42
Looks like we another one like this:

[code]

[2021-06-03 22:55] tstellar commented on #40
We're going to look into using side tags in the Fedora koji instance for creating these alternative composes.

[2021-06-16 12:46] voxik commented on #55
Just FTR, this is IMO interesting case:

https://src.fedoraproject.org/rpms/rubygem-asciidoctor/pull-request/6

In such case

1. rubygem-asciidoctor is available in ELN
2. it is not shipped in RHEL, because it is only part of buildroot
3. therefore it can be added into EPEL

So here the EPEL and ELN/RHEL dependencies might need to differ.

[2021-06-16 12:54] hroncok commented on #55
So can the conditionals. When forced to conditionalize for RHEL 9, I've used `%if 0%{?rhel} >= 9 && !0%{?epel}`

[2021-06-16 17:35] voxik commented on #55
Right, there is certainly way to do it. But there is no way to do it while keeping sanity.

[2021-06-21 10:16] praiskup commented on #33
Does it make sense to configure mirror manager even though there is only one mirror?

[2021-06-29 10:40] jkonecny12 commented on #58
Hi, are the composes back again? If yes, I guess we can close this issue?

[2021-06-29 11:47] jkonecny12 opened #59 "TASK: Compose doesn't contain cppcheck & python3-lxml"
### What does the ELN SIG need to do?
Hi, to run tests of Anaconda we need `cppcheck` and `python3-lxml` packages. However, these are missing in ELN x86-64 container. May I ask where could I find those?

[2021-06-29 12:54] sgallagher commented on #59
@jkonecny12 If you need packages that are not part of ELN, you have three choices:

1. Add them to ELN by including them as a `BuildRequires` of `anaconda`.
2. Add them to ELN by including them in the [Anaconda workload configuration](https://github.com/minimization/content-resolver-input/blob/master/configs/sst_front_door-anaconda.yaml).
3. Install `fedora-repos-rawhide` and install it from there

[2021-06-29 12:57] hroncok commented on #59
That is weird. python3-lxml is in our workload directly.

[2021-06-29 12:58] hroncok commented on #59
See https://tiny.distro.builders/view-rpm--view-eln--python3-lxml.html

[2021-06-29 13:02] sgallagher commented on #59
Hmm, looks like more fallout from my accidental untagging of things. You're right, `python-lxml` should be in ELN but is not. However, it appears that `cppcheck` was dropped at some point (probably something else had it as a BuildRequires and no longer does).

[2021-06-29 13:04] jkonecny12 commented on #59
Ahh, interesting. The problem here is that this is not Anaconda build requires but only test run requires and Anaconda does not have tests run during build.

[2021-06-29 13:05] sgallagher commented on #59
Ah right, I had untagged `python-lxml` because it had accidentally gotten built against Python 3.9. I'm not sure why I missed rebuilding it for 3.10, but I'm doing that now.

[2021-06-29 13:06] jkonecny12 commented on #59
Any idea how to get the `cppcheck` back without adding "false" dependency to Anaconda?

[2021-06-29 13:20] hroncok commented on #59
Add it to our workload in https://github.com/minimization/content-resolver-input

[2021-06-29 13:32] sgallagher commented on #59
@jkonecny12 If you don't need it in the buildroot or at runtime, probably the best option would be to install `fedora-repos-rawhide` and install it from there. We don't really want to include anything in ELN that is not strictly necessary.

I'm still working on getting `python-lxml` built; there was an issue with shadow-utils breaking the ELN buildroot that I just fixed.

[2021-06-29 13:43] jkonecny12 commented on #59
@sgallagher ok, so now I wonder what is the better way to go. One the one hand it will be easier to just use `fedora-repos-rawhide` (even thought, it could raise new conflicts etc...), on the other hand we want to have `cppcheck` even on next RHEL so the content resolver seems like a correct thing to do...

[2021-06-29 14:28] sgallagher commented on #59
If it is actually desired for inclusion into RHEL 10, then it belongs in one of the workload definitions. You'll need to confirm that with the Red Hat Engineering team that maintains it and have them add it to their workload.

[2021-06-29 14:40] sgallagher commented on #59
OK, `python-lxml` just finished building and should be present as soon as the buildroot refreshes. As for cppcheck, you'll need to decide how you want to handle that.

[2021-06-29 14:50] jkonecny12 commented on #59
Ok, thanks a lot for your help. Feel free to close this issue.

[2021-06-29 14:55] #59 closed

[2021-06-29 14:58] sgallagher commented on #58
Yes, they are. I forgot to close this ticket. Thanks!

[2021-06-29 14:58] #58 closed

[2021-07-14 15:08] jkonecny12 opened #60 "TASK: Missing dependencies of gobject-introspection-devel package"
### What does the ELN SIG need to do?
Hi, it seems that the `gobject-introspection-devel` package can't be installed on Fedora ELN. Am I doing something wrong?

[code]

[2021-07-14 16:43] sgallagher commented on #60
Looks like fallout from the Python 3.10 update. I'll get that sorted out.

[2021-07-14 16:57] sgallagher commented on #60
These have now been rebuilt and are available in the buildroot repository for Koji and will appear in the ELN compose the next time it succeeds (which I'm working on unbreaking... again).

In the meantime, you can pull them from the buildroot repo using the following yum repo file:

[code]

[2021-07-14 16:57] #60 closed

[2021-07-15 08:43] jkonecny12 commented on #60
Thanks a lot for sorting this out so quickly!

[2021-07-20 18:03] sgallagher opened #61 "ELN Logo feedback"
### What does the ELN SIG need to do?
Have a look at https://pagure.io/design/issue/774 and provide feedback for the proposed ELN logo.

[2021-07-26 12:11] jkonecny12 opened #62 "TASK: python3-rpm-generators package can't be found"
### What does the ELN SIG need to do?
Hi, I have problem to install `rpm-build` package together with `python3-devel` in the ELN-x86_64 container because required package `python3-rpm-generators` can't be found.

Steps to reproduce:
* ``podman pull quay.io/fedoraci/fedora:eln-x86_64``
* ``podman run -it --rm fedora:eln-x86_64``
* ``dnf install python3-rpm-generators`` or ``dnf install rpm-build py

[2021-07-26 12:14] hroncok commented on #62
The latest ELN build of python-rpm-generators is quite old and not tagged anywhere: https://koji.fedoraproject.org/koji/packageinfo?packageID=24201

[2021-07-26 12:18] sgallagher commented on #62
Hmm, I'm not sure why it isn't being rebuilt; it definitely appears in the Content Resolver: https://tiny.distro.builders/view-srpm--view-eln--python-rpm-generators.html

I'll look into that, but in the meantime I'll manually trigger a rebuild.

[2021-07-26 12:49] sgallagher commented on #62
It rebuilt successfully for ELN and will be in the next compose. @bookwar can you check the rebuilder logs? I can't figure out why it wasn't being picked up, since it's been in the CR list for six months.

[2021-07-26 14:36] sgallagher commented on #62
This should be fixed now. I just verified that the latest compose now contains this package.

[2021-07-26 15:07] jkonecny12 commented on #62
Thanks!

[2021-07-29 14:53] praiskup commented on #33
Gently ping, any progress on ELN mirroring?

[2021-08-03 08:23] jkonecny12 opened #63 "TASK: Fix broken composes because of `rust-zram-generator` has other name in Fedora"
### What does the ELN SIG need to do?
Please fix broken composes because of `rust-zram-generator`.

The text below doesn't apply, see https://github.com/fedora-eln/eln/issues/63#issuecomment-891941195. Thanks for explanation @sgallagher .
~Hi everyone, I would like to kindly ask you to increase how often the composes are created. Ideally once a day.~

~#### Reasoning:~
~We (Anaconda) used ELN test

[2021-08-03 15:26] sgallagher commented on #63
@jkonecny12 They run every day at 00:00 UTC, but most recently they have been broken because anaconda added a dependency on `rust-zram-generator` which is named differently in Fedora ELN and RHEL. The composes are now failing because the dependencies cannot be resolved.

[2021-08-03 15:29] sgallagher commented on #63
@msekletar I think the correct solution here is for you to change the binary RPM names for RHEL to match those in Fedora (so that RHEL and Fedora both expect `zram-generator` rather than `rust-zram-generator`) and then anaconda can correct its dependency.

[2021-08-04 08:06] jkonecny12 commented on #63
@sgallagher ahh, ok, so it's broken by us now... Sorry for this issue. In that case I wonder how to improve the broken issues. I'll start to follow koji compose build to know what is happening.

[2021-08-04 08:11] jkonecny12 commented on #62
Note: waiting for a new compose to verify this and than I'll close this issue.

[2021-08-05 15:16] msekletar commented on #63
Name change was not intentional. I will change it back to match ELN and Fedora.

[2021-08-05 15:27] sgallagher commented on #63
@msekletar Thanks!

[2021-08-09 14:35] sgallagher commented on #33
Currently there's still no effort underway to set up mirror manager for ELN. The Facebook mirror is the de-facto solution we're using right now, but if we get to a point where the traffic necessitates it, we'll look into a larger mirror network.

[2021-08-09 14:58] jkonecny12 commented on #63
If you will also change name of the package on RHEL, please tell us to coordinate spec file change in Anaconda to not break composes. Thanks!

[2021-08-10 07:31] praiskup commented on #33
How do you configure the repositories?  Using two baseurl= options?

[2021-08-10 16:22] jkonecny12 opened #64 "SIG Membership Request: jkonecny"
### Your Name:
* Jiří Konečný
### FAS Account:
* jkonecny
### What would you like to help with?
* I filed a lot of issues on ELN because of broken composes or Anaconda dependencies and I would like to less complain and more help. What I would like to do is to make the ELN "stable" platform for testing to be able catch issues of RHEL-X ahead of time. By joining, I would like to take care about comp

[2021-08-13 10:57] hroncok opened #65 "TASK: Please help me build python-sphinx 4.1.2 in ELN (nothing provides libpoppler.so.106()(64bit) needed by texlive-pdftex-9:20210325-40.eln112.s390x)"
### What does the ELN SIG need to do?

The python-sphinx package is outdated in ELN. The current version does not work with Python 3.10.0rc1+ and might block many Python packages from building. I'd like to build python-sphinx-4.1.2-1.eln112 in ELN to unblock the Python packages.

However, I get:

[code]

https://koji.fedoraproject.org/koji/taskinfo?taskID=73772387

Could you please fix this? I'd r

[2021-08-16 14:46] jkonecny12 opened #66 "TASK: rpm-build and python3-devel can't be installed together"
### What does the ELN SIG need to do?
Anaconda can't be build in ELN mock because the `rpm-build` is removed as dependent package during the preparation phase. See [here](https://download.copr.fedorainfracloud.org/results/@rhinstaller/Anaconda/fedora-eln-x86_64/02523370-anaconda/builder-live.log.gz).

When I reproduce this locally and try to install the `rpm-build` package back I've got this:

[co

[2021-08-16 15:08] hroncok commented on #66
python3-devel has:

[code]

Are all the required packages installable in ELN?

[2021-08-16 15:14] sgallagher commented on #65
I'll see what I can do.

[2021-08-16 15:19] sgallagher commented on #65
Looks like another unannounced poppler soname bump in Rawhide. I'll rebuild the dependent packages in ELN

[2021-08-16 15:25] sgallagher commented on #66
`  - nothing provides python3-packaging needed by python3-rpm-generators-12-8.eln112.noarch`

[2021-08-16 15:26] hroncok commented on #66
Yeah, it seems that the latest ELN python-packaging build is outdated and untagged.

[2021-08-16 15:27] sgallagher commented on #66
Yeah, I'm rebuilding it now

[2021-08-16 15:28] hroncok commented on #66
And built with Python 3.9.

[2021-08-16 15:35] hroncok commented on #66
The build failed because of https://github.com/fedora-eln/eln/issues/65

[2021-08-16 15:35] sgallagher commented on #66
OK, this is FTBFS until we get Sphinx built.

[2021-08-16 15:36] sgallagher commented on #65
I'm rebuilding [texlive](https://koji.fedoraproject.org/koji/taskinfo?taskID=73959636) at the moment, which is a dependency for this.

[2021-08-16 18:41] sgallagher commented on #65
Sphinx has been built successfully.

[2021-08-16 18:41] #65 closed

[2021-08-16 18:41] sgallagher commented on #66
This should be fixed now.

[2021-08-16 18:41] #66 closed

[2021-08-17 12:23] jkonecny12 commented on #66
Great work everyone. Thanks for solving this so quickly!

[2021-08-27 16:25] #64 closed, assigned to bookwar, sgallagher

[2021-08-31 15:07] mh21 commented on #16
@hanzz, @sgallagher, looking at [koji](https://koji.fedoraproject.org/koji/packageinfo?packageID=26387) again, [rawhide](https://koji.fedoraproject.org/koji/buildinfo?buildID=1825273) is again able to build s390x images, but [eln](https://koji.fedoraproject.org/koji/buildinfo?buildID=1826036) still has them disabled. Would it be possible to reenable s390x container images for eln now that anaconda

[2021-09-01 12:50] sgallagher commented on #16
@mh21 https://pagure.io/pungi-fedora/pull-request/1041

[2021-09-01 18:13] sgallagher commented on #16
https://pagure.io/pungi-fedora/pull-request/1041 has been merged, so the next compose will attempt to build them again. If it fails, I'll revert the change.

[2021-09-10 12:36] jkonecny12 commented on #63
Solved now.

[2021-09-10 12:36] #63 closed

[2021-09-10 12:37] jkonecny12 commented on #62
Solved, thanks everyone.

[2021-09-10 12:37] #62 closed

[2021-09-10 12:38] jkonecny12 commented on #61
I think this issue could be closed as the pointing PR is.

[2021-09-10 12:41] #61 closed

[2021-10-18 18:00] jmflinuxtx opened #67 "Buildroot can't be instantiated preventing ELN builds"
This started last week:

DEBUG util.py:444:   Problem: package lorax-36.0-1.eln113.x86_64 requires python3-kickstart >= 3.19, but none of the providers can be installed
DEBUG util.py:444:    - package lorax-templates-rhel-10.0-3.eln112.noarch requires lorax >= 34.9.1, but none of the providers can be installed
DEBUG util.py:444:    - package python3-kickstart-3.35-1.eln113.noarch requires python3.

[2021-10-18 19:07] sgallagher commented on #67
It looks like some python packages were missed in ELN rebuilds around July and until recently we didn't notice because they weren't causing builds to fail. I'm rebuilding these packages now.

[2021-10-18 19:15] sgallagher commented on #67
I rebuilt `python-jinja2`, `python-markupsafe`, and `python-requests`, which seems to have resolved this issue. Sorry for the inconvenience.

[2021-10-18 19:16] #67 closed, assigned to bookwar, sgallagher

[2021-10-25 12:36] minfrin opened #68 "TASK: openssl-libs-1:3.0.0-1.fc36.s390x fails GPG signature check"
### What does the ELN SIG need to do?
*

COPR builds are currently failing as below, it appears the openssl-libs-1:3.0.0-1.fc36.s390x is signed with the wrong key.

[code]

The COPR people belieave this is an ELN issue: https://pagure.io/copr/copr/issue/1958

[2021-10-26 19:51] #68 closed, assigned to bookwar, sgallagher

[2021-11-04 12:42] sgallagher commented on #2
This should be resolved now that we have changed over to the DistroBuildSync-based rebuilds.

[2021-11-04 12:42] #2 closed

[2021-11-04 12:43] sgallagher commented on #1
This should now be resolved by the new build-syncing mechanism.

[2021-11-04 12:43] #1 closed

[2021-11-04 12:45] sgallagher commented on #9
@bookwar Are you still planning to work on this, or should we find someone else to work on general documentation tasks?

[2021-11-04 12:49] sgallagher commented on #16
For the record, this ticket is blocked, pending the availability of z14 hardware in Fedora.

[2021-11-04 12:59] #31 closed

[2021-11-04 13:19] #32 closed

[2021-11-04 13:20] sgallagher commented on #33
@davide125 Can you answer @praiskup here?

[2021-11-04 13:20] #45 closed

[2021-11-04 13:22] sgallagher commented on #49
This probably isn't actually possible, since ELN will always be working on the NEXT major release of RHEL, so changes are expected.

[2021-11-04 13:22] #49 closed

[2021-11-04 13:23] sgallagher commented on #51
https://gitlab.com/redhat/centos-stream/ci-cd/distrosync/distrobuildsync/-/merge_requests/32 should handle this.

[2021-11-04 13:23] #51 closed

[2021-11-04 13:29] sgallagher commented on #56
I think the plan was largely accepted on Fedora Devel, so the remaining task here is to document it.

[2021-11-04 16:37] michel-slm commented on #33
Yes; see https://dnf.readthedocs.io/en/latest/conf_ref.html?highlight=baseurl#baseurl-label

List the URLs in order of the one you want to try first (the Facebook mirror). one URL per line.

[2021-11-05 16:29] davide125 opened #69 "Document how to add new packages to eln-extra"
eln-extra is meant to be used for additional packages that should be composed together with ELN. @tdawson already put together a workflow for this, document how to use it and how to add new packages to it.

[2021-11-05 18:12] tdawson opened #70 "TASK: Develop process for removing packages from ELN when they are removed from content list"
### What does the ELN SIG need to do?
* right now we have ways to build and grow the ELN packages.  And there are certain people with permissions to be able to untag packages when they are removed.  But we don't have anything that automatically see's which packages are extra and deletes them after a period of time.
*

[2021-11-08 17:41] sgallagher commented on #70
I think this should be handled by https://gitlab.com/redhat/centos-stream/ci-cd/distrosync/distrobuildsync/-/merge_requests/33 once it lands. @tdawson would you mind reviewing that MR?

[2021-11-08 17:50] tdawson commented on #70
Sure, but it's a massive MR, gonna take me a while to make it all the way through.

[2021-11-09 22:01] tdawson commented on #9
Here is a pull request with the answer on the FAQ page
https://github.com/fedora-eln/eln-docs/pull/23

Here is what the page will look like.
https://tdawson.fedorapeople.org/eln/public/eln/faq/

[2021-11-12 21:43] jmflinuxtx opened #71 "TASK: Exclude fedora-release from being auto tagged into ELN"
Yesterday, fedora-release was rebuilt for rawhide. As a result, it was auto-tagged into ELN and made ELN identify as Fedora, changing the builds for anyone who special cased.  We need to make sure it doesn't get auto tagged.  Luckily, one of the RHEL kernel developers was doing some work on the spec file and could not figure out why it wasn't doing what he expected, or it might have been quite som

[2021-11-12 23:07] tdawson commented on #9
Documentation has been updated.
- FAQ has been updated with the question about what the difference is between Rawhide and ELN
- - https://docs.fedoraproject.org/en-US/eln/faq/
- Part of that FAQ Question points to the buildroot documentation, which has also been updated with the most current info.
- - https://docs.fedoraproject.org/en-US/eln/buildroot/

[2021-11-12 23:08] tdawson commented on #9
I believe we have finished this issue, but I'll leave it open for a day or two, to make sure.

[2021-11-13 07:35] hroncok commented on #9
Thank you for this!

[2021-11-13 07:35] #9 closed

[2021-11-13 18:52] minfrin opened #72 "TASK: cmake broken: nothing provides librhash.so.0 needed by cmake-3.22.0-0.3.rc2.fc36.i686"
### What does the ELN SIG need to do?
*

Builds that depend on cmake currently don't build in ELN, as cmake fails to install, citing missing librhash.so:

[code]

Looks like the package `rhash` is required but missing.

[2021-11-15 16:06] sgallagher commented on #72
Yeah, this is one of several issues introduced by a mistake I made on Friday that coincided with a libnsl2 soname bump (bad timing).

I'm working on fixing it.

[2021-11-15 20:18] sgallagher commented on #71
https://gitlab.com/redhat/centos-stream/ci-cd/distrosync/distrobuildsync-config/-/commit/680ceb07ba057301c6f7bbfdb852bf689689b55d

[2021-11-15 20:18] #71 closed

[2021-11-16 20:18] hroncok opened #73 "Requesting permission to use the %{eln} macro in python-rpm-macros"
Full disclosure: We have already done this, but now I [know we should have opened this issue first](https://github.com/fedora-eln/eln-docs/pull/23). Hence opening it in retrospect and am happy to redo things if you reject this request.

In python-srpm-macros, we'd like to keep using the `%{eln}` macro in the [definition](https://src.fedoraproject.org/rpms/python-rpm-macros/pull-request/112) of `%{

[2021-11-16 20:40] hroncok opened #74 "TASK: Render Rawhide builds tagged into ELN differently in the status report"
### What does the ELN SIG need to do?

Since the "new" way of how ELN solves build order issues, all ELN packages are green at https://docs.fedoraproject.org/en-US/eln/status/ -- I think it would make sense to paint the `.fcX` builds in a different color (and change the legend accordingly).

Thanks.

[2021-11-17 20:09] sgallagher opened #75 "TASK: Enable scratch-build Zuul CI check for ELN on Rawhide merge requests"
### What does the ELN SIG need to do?
~~* Define the rpminspect configuration for ELN (derived from the RHEL configuration)~~
~~* Enable rpminspect checks as part of gating for the automatic Bodhi updates.~~

~~Requested delivery: Q1 2022~~

Add a Zuul CI pipeline to perform a non-voting scratch-build test for ELN on all Rawhide merge requests for packages in the ELN content set.

[2021-11-17 20:10] sgallagher commented on #75
Note: this has important consequences for the RHEL Automotive team, so they'd appreciate a timely delivery.

[2021-11-17 20:14] sgallagher commented on #74
Agreed, the logic here needs to be updated. Thanks for catching that.

@tdawson Would you look into this, please?

[2021-11-17 20:16] sgallagher commented on #73
My ideal outcome would be for us to have the ELN python packages be identical to the RHEL ones, but there are a number of ways that this can go wrong in addition to the ones you've listed here, so for the time being I think this is the only reasonable approach to the problem. Thanks for bringing it to our attention (and for the extremely detailed explanation!).

[2021-11-29 08:35] jkonecny12 opened #76 "TASK: Getting 403 when downloading packages from ELN mirror"
We are facing issue when building our test containers for ELN that we are getting 403 (forbidden) when downloading some packages. These package set changed during the time:

Three days ago it was cmake package: https://github.com/rhinstaller/anaconda/runs/4318575973?check_suite_focus=true#step:3:1248
Two days ago it was python3-setuptools: https://github.com/rhinstaller/anaconda/runs/4338526352?ch

[2021-11-29 21:44] sgallagher commented on #76
The ELN compose has been broken since Nov. 11th. I've been struggling to get it back into working order and I hope to have it working again within the next day or so. Sorry for the inconvenience.

That said, I'm not sure why the packages in `latest-Fedora-ELN` wouldn't be working; that was the last good compose.

[2021-12-02 12:38] sgallagher commented on #70
This is taking place as part of the "cleanup" task in DistroBuildSync now.

[2021-12-02 12:38] #70 closed

[2021-12-02 12:41] sgallagher commented on #73
This was approved at the 2021-11-19 meeting, but I forgot to close this ticket.

[2021-12-02 12:41] #73 closed

[2021-12-02 12:44] sgallagher commented on #16
As of 2021-02-01, the s390x containers are also being generated for ELN.

[2021-12-02 12:44] #16 closed

[2021-12-02 12:47] sgallagher commented on #75
@dcantrell Would you be able to help with this?

[2021-12-02 12:53] sgallagher commented on #72
I think this should be fixed now. We have a functional compose again as of 2021-11-29.

Please reopen it if it persists.

[2021-12-02 12:53] #72 closed

[2021-12-02 12:54] sgallagher commented on #76
@jkonecny12 I believe this should be resolved now, can you confirm?

[2021-12-02 12:55] jkonecny12 commented on #76
Seems to be working now.
https://github.com/rhinstaller/anaconda/actions/runs/1528432304

Thanks!

[2021-12-02 12:55] #76 closed

[2021-12-02 15:14] dcantrell commented on #75
Yes, what do you want me to do?

[2021-12-02 16:04] sgallagher commented on #75
@dcantrell Can you help us get Bodhi configured to automatically run rpminsepect when an update for ELN is created (and how to get it set up to use an ELN/RHEL rpminspect config rather than the Fedora one)?

[2021-12-02 16:13] dcantrell commented on #75
For the integration, I think @morucci can help because that would be through Zuul.

For the configuration, I can help with that directly.  I think it would make sense to add the ELN-specifics to the rpminspect-data-fedora package.  Perhaps as a profile, which overlays the main fedora.yaml configuration.  Invocation of rpminspect ELN jobs would then be "rpminspect-fedora -p eln" or whatever we name

[2021-12-03 10:05] morucci commented on #75
Hi, Zuul can trigger jobs based on Pull Request (or other code review providers) events. So that won't work based on Koji builds except with a bridge (which is a workaround that need to be maintained).

[2021-12-08 23:19] mh21 commented on #16
@sgallagher the multi-arch manifest at https://quay.io/repository/fedoraci/fedora&tab=tags still doesn't include s390x 😕

[2021-12-09 09:52] mh21 commented on #16
@sgallagher trying to install anything inside of the container image fails similar to

[code]

[2021-12-09 12:48] sgallagher commented on #16
@hanzz Can you look into adding the s390x container to the multi-arch manifest?

Regarding the GPG key issue, that's entirely unrelated. Please open a new bug about that.

[2021-12-09 13:16] mh21 opened #77 "GPG failures when updating packages in the ELN container image"
Trying to install anything inside of the container image fails similar to

[code]

_Originally posted by @mh21 in https://github.com/fedora-eln/eln/issues/16#issuecomment-989687065_

[2021-12-09 13:18] mh21 commented on #16
@sgallagher yeah we never bothered to use the upstream images and just created our own eln container image from scratch 🤦. Issue about the GPG keys created as https://github.com/fedora-eln/eln/issues/77.

[2021-12-09 13:34] sgallagher commented on #77
It looks like there are two problems:

1) ELN packages are being signed by the F35 key
2) ELN is only importing the Rawhide key for verification

@mohanboddu Do you know why the packages are still being signed by F36 keys? I'm still looking into why it doesn't accept the F35 key either; Rawhide does...

[2021-12-09 14:38] sgallagher commented on #77
Interesting, ELN seems to be missing the F35 GPG key, and ONLY that one:

[code]

[2021-12-13 16:03] fweimer-rh opened #78 "TASK: Switch ppc64le to POWER9 baseline"
Downstream is using `-mcpu=power9`. We felt we couldn't do this in Fedora at the time, so we never upstreamed.

I do not see anything obvious that would block this change infrastructure-wise. Shall we give it a try? glibc has a pretty effective run-time check, so would notice incompatibilities soon once it is rebuilt.

[2021-12-13 16:06] fweimer-rh opened #79 "TASK: Switch s390x to z14 baseline"
Downstream is using -`march=z14`, but we did not upstream this change because the Fedora builders were z13.

I'm not sure if this has been fixed consistently. [glibc-2.34.9000-28.eln114](https://koji.fedoraproject.org/koji/buildinfo?buildID=1866346) was built on a z15. If all of ELN is built on such systems, we should be good to make the switch.

[2021-12-16 14:30] praiskup opened #80 "Go macros missing from i686 on ELN"
It is failing with:
[code]
x86_64 is works fine, originally spotted by [mock testsuite](https://github.com/rpm-software-management/mock/pull/827).

[2021-12-16 14:31] praiskup commented on #80
Is i386 in ELN "EOL", should we drop it from mock-core-configs?

[2021-12-16 15:58] fweimer-rh commented on #80
I expect that 32-bit applications will not be supportable on the next version of Red Hat Enterprise Linux (the next version after 9, that is). There is the obvious issue that 10+w years of support come rather close to the 2038 cliff. But there could also be an upstream push for implementing the 64-bit time ABI break by default in the next few years, and that ABI change would totally invalidate the

[2021-12-17 06:29] mh21 opened #81 "multi-arch manifest at https://quay.io/repository/fedoraci/fedora&tab=tags does not include s390x"
While individual images are available for amd64/aarch64/s390x/ppc64le, the multi-arch manifest only covers amd64/aarch64/ppc64le.

_Originally posted by @mh21 in https://github.com/fedora-eln/eln/issues/16#issuecomment-989306363_

[2021-12-21 09:55] praiskup commented on #80
So the question is what to do with `fedora-eln-i386.cfg` in mock.  Should we drop it now?  Seems like
the chroot is already broken, and it only generates build failures (and Copr inherits this problem).

[2021-12-21 10:15] fweimer-rh commented on #80
Koji is able to create ELN chroots for i686 builds just fine. Surely it's possible to replicate these buildroots outside of mock?

[2021-12-21 10:47] praiskup commented on #80
It is possible.

So perhaps a better question:  Is the i386 mirroring supposed to work, and will that be fixed?
Or is it just staled, and mock's configuration for i386 should be moved against Koji buildroot:
`baseurl=https://kojipkgs.fedoraproject.org/repos/eln-build/latest/$basearch/`

We already do this for other Fedora configs.

[2021-12-21 10:50] praiskup commented on #80
Errr.., there's been **no mirroring** in ELN, so far. #33.
Mock uses: https://odcs.fedoraproject.org/composes/production/latest-Fedora-ELN/compose/BaseOS/

[2021-12-21 10:58] praiskup commented on #80
Wrong again.  We use https://odcs.fedoraproject.org/composes/production/latest-Fedora-ELN/compose/Everything/

So the question is probably if that is going to be fixed (go-srpm-macros provided in i386 subdir), or if
we should adjust the `fedora-eln-i386.cfg` (and how).

[2021-12-21 12:01] fweimer-rh commented on #80
Ah, so this is likely a Go-specific issue, caused by building with `%{rhel}`. I'll ping some folks.

[2021-12-21 12:46] alexsaezm commented on #80
@praiskup, may I see what are you doing? I would love to reproduce it locally.

[2021-12-21 13:56] praiskup commented on #80
Locally reproducible by:
[code]
The issue is IMO `nothing provides go-srpm-macros needed by redhat-rpm-config-206-1.eln114.noarch`,
while there's no go-srpm-macros in i386 repo.

[2022-01-04 16:25] sgallagher commented on #80
From [`go-rpm-macros.spec`]():
[code]

Golang is not supported on 32-bit x86 on RHEL 9+. The dependency in redhat-rpm-config is the issue; it should be conditional upon the golang arches. I will suggest a patch for discussion.

[2022-01-04 16:26] hroncok commented on #80
Note that redhat-rpm-config is noarch.

[2022-01-04 16:30] sgallagher commented on #80
What do you suggest? Changing it to `Recommends: golang-srpm-macros`?

[2022-01-04 16:36] hroncok commented on #80
Recommends don't work in the buildroot.

There are several options here. The easiest one I can think of is to build golang-srpm-macros on all architectures even if empty. Another is to add 4 conditional dependencies to redhat-rpm-config, but I kinda don't like defining the list in two places:

[code]

[2022-01-04 16:47] praiskup commented on #80
This is rather problematic:
https://src.fedoraproject.org/rpms/go-rpm-macros/blob/rawhide/f/go-rpm-macros.spec#_128
To make it work, as @hroncok suggests above, I would drop the `BuildArch: noarch` (which appears to be duplicated in the spec file, btw.).

[2022-01-11 13:21] mh21 opened #82 "TASK: Reenable ELN container image generation"
### What does the ELN SIG need to do?
* The container images at https://quay.io/repository/fedoraci/fedora?tag=eln-x86_64&tab=tags were last generated over a month ago, on 2021-12-09, and are still incomplete.

[2022-01-11 13:54] sgallagher commented on #82
I'm aware of this. We have been having some issues related to OpenSSL 3.0 and a stricter linker in Rawhide/ELN that I've been untangling. I'll have this back up and running ASAP.

[2022-01-14 17:00] sgallagher commented on #79
I believe at this point that the datacenter upgrade is complete. @nirik can you confirm?

[2022-01-14 17:01] sgallagher commented on #78
I think it's probably the right time to do so, yes.

[2022-01-14 17:03] sgallagher commented on #77
This was fixed a while ago and I forgot to close this ticket.

[2022-01-14 17:03] #77 closed

[2022-01-14 17:05] sgallagher commented on #81
@hanzz Can you please have a look at this?

[2022-01-14 17:34] nirik commented on #79
yes, long since done. We are all on z15 now.

[2022-01-14 19:14] fweimer-rh commented on #79
Thanks for looking into this. I will update `redhat-rpm-config` then.

[2022-01-19 17:08] fweimer-rh opened #83 "TASK: Switch x86_64 baseline to x86-64-v3"
I would like to propose to update the baseline for the x86_64 ELN architecture to x86-64-v3. This enables the more compact VEX instruction encoding, FMA (fused multiply and add), and various bit manipulation instructions. Together with auto-vectorization at `-O2` in GCC 12, we also expect some nice benefit from AVX and AVX2, too.

I believe the Fedora ELN builders are ready for this. (They would e

[2022-01-19 17:09] fweimer-rh commented on #78
I plan to implement this next week, after the Fedora rawhide mass rebuild is mostly done. The change is technically independent, but there's no need to interfere with the ongoing mass rebuild in case I make a mistake in the change.

[2022-01-19 17:10] fweimer-rh commented on #79
I plan to implement this next week, after the Fedora rawhide mass rebuild is mostly done. The change is technically independent, but there's no need to interfere with the ongoing mass rebuild in case I make a mistake in the change.

[2022-01-19 18:04] berrange commented on #83
Some input from the virtualization side. Note I'm NOT giving an opinion for or against this proposal, I'm merely going to present the technical facts wrt QEMU/KVM

The following page shows compatibility of the different QEMU CPU models with the x86 baselines:

  https://www.qemu.org/docs/master/system/i386/cpu.html

We see that compared to the current x86_64-v2, switching to x86_64-v3 baseline eli

[2022-01-20 12:03] jkonecny12 commented on #82
Not sure if it's related but our ELN tests started to fail on rpmbuild calls. I guess there is issue with something outdated? I'll see if it gets solved when there will be a new ELN image.

[2022-01-20 12:58] sgallagher commented on #82
This is due to an issue with the ima-evm-utils update. I'm on it.

[2022-01-26 13:47] sharkcz opened #84 "TASK: enable BaseOS installer for s390x"
### What does the ELN SIG need to do?
* Currently the BaseOS compose for s390x doesn't contain installer files, please enable them in the compose config. It's a difference to other arches and breaks mirroring ELN into internal beaker.

[2022-01-26 16:21] sgallagher commented on #84
https://pagure.io/pungi-fedora/pull-request/1064

[2022-02-02 17:57] tdawson commented on #74
Sorry, this totally fell through the cracks.
I totally agree that the fcX packages should be a different color / state.
I'm more concerned that the status hasn't ran since Nov. 11.
I believe the problem is that the status page update was tied to the eln-periodic check, which has been turned off.
I don't want to turn eln-periodic back on, so I'll look at creating a new jenkins run that just does th

[2022-02-02 18:45] sgallagher commented on #74
Ah, right. The eln-periodic implementation got migrated into DistroBuildSync.

[2022-02-04 19:21] tdawson commented on #74
Turns out that eln-periodic was still running every hour, and failling since Nov. 11.
eln-periodic called eln-build-pipeline, which did the package builds.  eln-build-pipeline was disabled/broken so it would not run, back when Stephen migrating things to DistroBuildSync.
I removed that section (calling eln-build-pipeline) f rom the eln-periodic jenkins file, and now it is running, and the page is

[2022-02-07 20:48] sgallagher commented on #84
This should be fixed as of the most recent compose.

[2022-02-07 20:48] #84 closed

[2022-02-09 12:49] mh21 commented on #81
Friendly ping, the multi-arch manifest is stale 😕

[2022-02-09 15:11] tdawson commented on #74
Done
There is now a "FEDONLY" tag for those packages that are only built in Rawhide.
https://docs.fedoraproject.org/en-US/eln/status/
https://osci-jenkins-1.ci.fedoraproject.org/job/eln-periodic/lastSuccessfulBuild/artifact/status.html

[2022-02-09 15:11] #74 closed

[2022-02-10 10:42] hroncok commented on #74
Awesome!

[2022-02-10 13:27] fweimer-rh commented on #79
[redhat-rpm-config-213-1.fc37](https://koji.fedoraproject.org/koji/buildinfo?buildID=1915844) has the change, but I don't see an ELN build yet.

[2022-02-10 15:22] #79 closed

[2022-02-11 11:32] #78 closed

[2022-02-14 10:44] minfrin opened #85 "TASK: gpgme-1.15.1-6.eln113.s390x / python3-gpg-1.15.1-6.eln113.s390x fail GPG signature check"
### What does the ELN SIG need to do?
*
COPR builds are currently failing as below, it appears the gpgme-1.15.1-6.eln113.s390x and python3-gpg-1.15.1-6.eln113.s390x are signed with the wrong key.

[code]

[2022-02-15 09:53] praiskup opened #86 "Question: what is the pub key we should use for consuing ELN repos?"
Build fails like:
[code]

So neither 36, nor Fedora 37 key works.

[2022-02-15 18:17] sgallagher commented on #86
The public key should always match Rawhide, however this package in particular is currently broken. I've got a PR out to fix it at https://src.fedoraproject.org/rpms/gpgme/pull-request/10

[2022-03-23 13:03] sgallagher commented on #80
I updated the title of this ticket. I think we need to have a serious conversation about abandoning 32-bit x86 on Fedora ELN. RHEL 9 Beta shipped without i686 support except for limited support for running 32-bit binaries on an x86_64 host.

I think it's worth exploring either doing the same on Fedora ELN or else dropping 32-bit support entirely. The former will be a lot harder, but would keep us

[2022-03-25 17:24] sgallagher commented on #80
In today's meeting, we confirmed that we do want to continue carrying 32-bit i686 at least for multilib.

I've submitted a possible fix for the original issue with golang packages at https://src.fedoraproject.org/rpms/go-rpm-macros/pull-request/6 and I'd appreciate a review there.

[2022-04-05 20:00] sgallagher commented on #80
Sorry for the long delay, I was unavailable last week. I've reviewed your proposed PR and I think that looks like it should do the trick. Thank you for that.

[2022-04-12 13:22] t184256 opened #87 "TASK: Fix missing Core group in Everything"
Looking at comps of
https://odcs.fedoraproject.org/composes/production/latest-Fedora-ELN/compose/Everything/x86_64/os/repodata/
vs
https://odcs.fedoraproject.org/composes/production/latest-Fedora-ELN/compose/BaseOS/x86_64/os/repodata/
there's no Core group in Everything.

One observable consequence of that is that installing from Everything fails with
[code]

### What does the ELN SIG need to do?

[2022-04-12 14:10] tdawson commented on #69
Done
https://docs.fedoraproject.org/en-US/eln/extras/#_how_to_add_a_package_to_eln_extras

[2022-04-12 14:10] #69 closed

[2022-04-20 07:57] t184256 opened #88 "TASK: fix/test installation with Anaconda"
Doesn't look like installing with anaconda is regularly tested.
I was originally intending to report a bug when installation used installer boot kernel cmdline for the resulting system, rendering it unbootable due to the lack of root, but over the weekend compose degraded further and now anaconda doesn't even start: `modprobe: FATAL: Module xfs not found in directory /lib/modules/...`.

Not being

[2022-04-22 17:09] davide125 opened #89 "TASK: add stable boot.iso symlink for kickstart tests"
### What does the ELN SIG need to do?
To ease implementation of kickstart tests for ELN, we need to add a stable boot.iso symlink for the latest compose (e.g. https://odcs.fedoraproject.org/composes/production/latest-Fedora-ELN/compose/BaseOS/x86_64/iso/boot.iso, which should point to Fedora-ELN-10-20220422.0-x86_64-boot.iso). We should probably do this for all iso deliverables while at it.

[2022-04-22 17:09] davide125 commented on #88
This was discussed in [today's ELN meeting](https://meetbot.fedoraproject.org/fedora-meeting/2022-04-22/eln.2022-04-22-16.02.html), @jkonecny12 will look into enabling kickstart tests for ELN (which in turn requires https://github.com/fedora-eln/eln/issues/89 first).

[2022-04-22 17:09] davide125 commented on #89
cc @jkonecny12

[2022-04-22 17:48] davide125 opened #90 "Should Fedora ELN require POWER 9 ?"
Raised in https://bugzilla.redhat.com/show_bug.cgi?id=2077299 -- el9 currently requires POWER 9, while Fedora requires POWER 8. Should ELN require POWER 9 as well?

[2022-04-22 18:30] hroncok commented on #90
Yes, see https://github.com/fedora-eln/eln/issues/78

[2022-04-22 18:31] davide125 commented on #90
Perfect, thanks!

[2022-04-22 18:31] #90 closed

[2022-04-25 13:07] sgallagher commented on #89
We already have one: https://odcs.fedoraproject.org/composes/production/latest-Fedora-ELN/compose/BaseOS/x86_64/os/images/boot.iso is a symlink to the fully-named one.

[2022-05-04 07:40] t184256 commented on #88
The current topmost error is now a different one. Installation completes, but the installation cmdline leaks into the bootloader entry and boot fails due to `root=` and the rest of the cmdline not set properly.

[2022-05-08 16:32] hroncok opened #91 "QUESTION: How to properly build Rust in ELN?"
I've just noticed that python-cryptography FTBFS in ELN because:

[code]

The spec file has:

[code]

Is this supposed to work, or should the specfile use the otherwise forbidden `0%{?eln}` conditional?

cc @tiran

[2022-05-08 16:33] hroncok commented on #91
(This will be an actuall issue for the Python 3.11 rebuild in ~1 month.)

[2022-05-23 07:04] jkonecny12 commented on #88
Do you a have bug/issue filed somewhere? Ideally with the logs attached.

[2022-05-23 07:08] jkonecny12 opened #92 "TASK: Fix issue with glibc-langpack"
### What does the ELN SIG need to do?
During the Anaconda test build in the eln container we are getting this issue:

[code]

It's happening when we are installing Anaconda build dependencies.

More details can be found here [GH action link](https://github.com/rhinstaller/anaconda/runs/6547380194?check_suite_focus=true#step%3A3%3A3065=).

[2022-05-23 08:52] fweimer-rh commented on #92
What's the `dnf` command line that triggers this? The image has `glibc-2.35.9000-18.fc37.x86_64` installed because it was apparently upgraded against the rawhide (not ELN) repository (`.fc37` > `.eln`). `glibc-langpack-en-2.35.9000-18.eln118.x86_64` cannot be installed because it requires downgrading `glibc` to `glibc-2.35.9000-18.eln118.x86_64`. Plain `glibc-langpack-en` seems to be installable.

[2022-05-24 07:22] jkonecny12 commented on #92
I missed that before, interesting. I'll take a look on that. Thanks for pointing that out.

[2022-05-24 07:35] jkonecny12 commented on #92
I might see what is happening. We are using `quay.io/fedoraci/fedora:eln-x86_64` for the build and that container has enabled Rawhide repositories inside by default. I guess that is not correct? Because of that we are getting some packages from the Rawhide.

[code]

[code]

[2022-05-24 16:20] t184256 commented on #88
Not much logs to attach since it doesn't reach anaconda ATM; here's what I get today: https://gist.github.com/t184256/843f54cebaa20a4b64b7a79b84c69ca7

As for the issue, no, I don't know what to report them against and this bugtracker was what I've been pointed at.

Workarounds I currently employ to have ELN installable in our CI:
[--type=plain](https://github.com/t184256/fingertip/blob/5c3f718f02

[2022-05-25 15:53] t184256 commented on #88
And today it's [different again](https://gist.github.com/t184256/af7832264a92368aa9f3506af6a41649) (`malloc(): unsorted double linked list corrupted` and anaconda dumps core). Another day, another failure.

Just run the script from the first post =)

[2022-05-25 18:30] sgallagher commented on #92
I've just reworked the `fedora-repos` package so that the Rawhide repositories are disabled by default. This will probably be broken until we get a successful compose with the updated Variants, but I'm hopeful that the compose running right now will succeed.

[2022-05-26 19:31] sgallagher commented on #88
I've got a backtrace of the segfault on today's anaconda, but I'm not entirely sure where to go next. Advice welcome.

[code]

[2022-05-27 12:56] sgallagher opened #93 "Booting from install tree doesn't load stage2"
It appears that attempts to boot directly from https://odcs.fedoraproject.org/composes/production/latest-Fedora-ELN/compose/BaseOS/x86_64/os/ gets the wrong kernel command-line and thus is unable to load stage2 and anaconda.

[2022-05-27 12:56] sgallagher commented on #88
So, it appears there are two different bugs here, so I'm going to split this ticket. We'll continue to track the `malloc()` corruption issue in this ticket and I've opened #93 to track the issue with the incorrect kernel commandline when booting directly from the install tree.

[2022-05-27 16:52] t184256 commented on #93
Not sure what you're referring to.
Closest one I've observed would be better described like this: installation used to boot, install and leave the installed system with the incorrect commandline in the bootloader, unbootable. That one was [workaroundable by manually intervening post-installation](https://github.com/t184256/fingertip/blob/5c3f718f02ec603987a658990ecc84f0addf1cbc/fingertip/plugins/o

[2022-05-27 18:44] sgallagher commented on #93
It looks like this is an issue in either virt-install or osinfo-db. I've opened a [ticket](https://github.com/virt-manager/virt-manager/issues/397) against virt-install to look into it further.

[2022-05-27 18:49] t184256 commented on #93
Guess you've found yet another bug, since I haven't tried virt-install.

[2022-05-31 11:32] sgallagher commented on #92
I'm actively working on getting installations working from the BaseOS install tree/media. We cannot support reinstalling Rawhide and enabling ELN; it turned out to be impossible due to differences in architecture baselines and other similar issues.

By eliminating the Rawhide repos, this problem should go away.

[2022-06-01 00:37] cuviper commented on #91
As of [rust-1.61.0-2.eln118](https://koji.fedoraproject.org/koji/buildinfo?buildID=1970186), there is now a rust-toolset subpackage for `%{rhel}` -- let me know if that works!

[2022-06-01 10:42] jkonecny12 commented on #88
Could this be related to the enabled Rawhide repositories? Are these accessible also during image build?

[2022-06-01 19:59] sgallagher commented on #88
I was able to get Anaconda to run to completion today (though the resulting system didn't boot), so I think whatever was causing the corruption probably got fixed by some other package change.

[2022-06-01 19:59] #88 closed

[2022-06-02 08:43] ondrejbudai opened #94 "TASK: guest-images doesn't boot"
I tried booting the latest Fedora-ELN-Guest-9.0-0.1654091725.x86_64.qcow2 using qemu and it failed on:

[code]

Here's the full boot log:
https://gist.github.com/ondrejbudai/ee12bfa4281a8b7df3fd58aa880bfb75

[2022-06-02 08:58] jkonecny12 commented on #94
The `inst.method` should be `inst.stage2` or `inst.repo` that is probably the issue here. Could you please try it with `inst.stage2`?

[2022-06-02 20:25] sgallagher commented on #93
OK, I've got this one fixed by https://pagure.io/pungi-fedora/pull-request/1102

This will now resolve as `fedora-unknown` and properly reach the installer. I'm also working on a patch to `osinfo-db` to recognize Fedora ELN properly.

[2022-06-02 21:31] sgallagher opened #95 "TASK: ELN fails to switchroot after installation"
### What does the ELN SIG need to do?
* Identify why the switchroot fails and fix it.

[2022-06-02 21:33] sgallagher commented on #95
It appears that the cause of the issue is that we are booting with an empty `/etc/fstab` file. I need to dig into the anaconda code and see if I can figure out why it's not populating the mounts.

It's possible to make the VM boot by going into maintenance mode and manually mounting the root partition into `/sysroot` and then resuming the boot process.

[2022-06-03 16:00] sgallagher commented on #94
This is the same issue I'm seeing in https://github.com/fedora-eln/eln/issues/95

For some reason, the kernel command-line isn't getting a `root=` argument for dracut.

Investigation is ongoing.

[2022-06-03 20:06] sgallagher commented on #95
Closed as a dupe of #94

[2022-06-03 20:06] #95 closed

[2022-06-03 20:11] sgallagher commented on #94
The key difference between the `storage.log` from ELN and one from F36 appears to be this line:

* ELN

[code]

* F36

[code]

I've spent all day chasing this through Anaconda and Blivet, but at this point I really need to get some help from those teams. @poncovka @jkonecny12 @vojtechtrefny could one of you help me track this down?

[2022-06-03 22:44] jkonecny12 commented on #94
In the log above it seems that Anaconda doesn't even start. That is correct because it shouldn't be present on guest image (cloud-init).

However, I tried to run compose from here https://odcs.fedoraproject.org/composes/ and the installed system has `inst.stage2=` instead of root parameter (which won't work obviously). However, I did not had a time to look on why it's happening and I have PTO from

[2022-06-06 11:42] hroncok commented on #80
After 2 months, my PR to go-rpm-macros was merged, so I submitted builds for Rawhide and ELN.

https://koji.fedoraproject.org/koji/taskinfo?taskID=87938268
https://koji.fedoraproject.org/koji/taskinfo?taskID=87938343

However, ELN i686 fails with:

[code]

No idea why lorax is pulled at all.

[2022-06-06 11:44] hroncok opened #96 "TASK: ELN CI"
### What does the ELN SIG need to do?
Please, when a Fedora dist-git PR is opened for rawhide for a package that exists in ELN:

 * at the very least, scratch build that package in ELN
 * ideally, also run STI and TMT tests on ELN

If this does not happen, failures are only to be discovered after the merge, like in https://github.com/fedora-eln/eln/issues/80#issuecomment-1147358035

Thanks

[2022-06-07 10:33] poncovka commented on #94
The boot arguments generated by Anaconda are fine. We don't generate the `root=` option, I think that's done by grub2.

I was playing with Fedora-ELN-20220602.1-x86_64-dvd1.iso and, as Jirka mentioned, the boot options of the installed system are messed up. It is the cmdline of the installation environment. The Anaconda boot args are not even there.

![Screenshot_vpn_test_01_live_2022-06-07_11:32:

[2022-06-07 12:45] sgallagher commented on #94
@frozencemetery Do you have any idea where things might be going wrong here?

[2022-06-08 18:14] frozencemetery commented on #94
Kind of.  Arguments are complicated because systemd (kernel-install) wants to be involved, and that's what's ultimately responsible for the arguments chosen.  There are too many moving parts here.

I suspect the immediate cause of this change is grubby - I made it write out the contents of GRUB_CMDLINE_LINUX to /etc/kernel/cmdline when asked to --update-kernel=ALL.  My guess is that this gets call

[2022-06-08 18:16] frozencemetery commented on #94
I guess to check that, could we see /etc/kernel/install as well?

[2022-06-08 18:33] sgallagher commented on #94
OK, as of the most recent compose, this doesn't seem to be happening anymore. I'm not sure what changed, unless https://github.com/rhinstaller/anaconda/pull/4158 indirectly solved this problem too.

[2022-06-09 10:47] poncovka commented on #94
`/etc/kernel/cmdline` doesn't exist on the installed system.

I don't know if it can be related, but `/proc/cmdline` of the installed system is the cmdline of the installation environment, because we mount `proc` at `/mnt/sysimage/proc` during the installation (so this is no longer true after the reboot). However, that's not something new and it never caused any issues.

![Screenshot_vpn_test_01_l

[2022-06-09 15:26] frozencemetery commented on #94
Well, so much for that idea I guess :)

[2022-06-10 16:19] sgallagher commented on #91
Sorry, it took a while to get back to this, but I have good news! python-cryptography built successfully in ELN for the first time this week.

Thanks, @cuviper

[2022-06-10 16:19] #91 closed

[2022-06-13 14:47] #93 closed

[2022-06-13 14:48] sgallagher commented on #92
This was fixed as a side-effect of other changes made in the last two weeks.

[2022-06-13 14:48] #92 closed

[2022-06-13 14:49] sgallagher commented on #87
The Everything repo is no more.

[2022-06-13 14:51] #80 closed

[2022-06-13 14:52] sgallagher commented on #96
Duplicate of #30

[2022-06-13 14:52] #96 closed

[2022-06-13 14:53] hroncok commented on #96
Indeed, sorry about the noise.

[2022-06-20 16:44] hroncok opened #97 "TASK: nothing provides glibc >= 2.35.9000-22.fc37 needed by util-linux-core-2.38-4.fc37.x86_64"
### What does the ELN SIG need to do?
* Please unblock this:

[code]

My guess is that this fails due to [the dependency generator from glibc](https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/thread/MENH65L5JJLMT7JGN4LB2L67WXRFW6ZT/) which generates the `>=` requirement. Fedora builds then require Fedora's latest glibc, considering `fc37 > eln120`. This could possibly be

[2022-06-20 17:41] fweimer-rh commented on #97
Is this in Koji? Why are there so many Fedora builds in the ELN buildroot?

[2022-06-21 12:19] sgallagher commented on #97
We tag in the Fedora version prior to rebuilding the ELN version as a salve against bootstrapping issues. Most of the time, this works fine. Sometimes the ELN build fails and the Fedora version remains in the buildroot, requiring manual intervention.

[2022-06-21 12:20] sgallagher commented on #97
We have some packages that we skip this tagging on. It looks like `util-linux` may need to be one of those, because it specifically depends on the full release (including `%{dist}`. I'll check whether that dependency can be lessened first, though.

[2022-06-21 12:23] hroncok commented on #97
That full release dependency is generated by a dependency generator in glibc that I mentioned in the issue report. It can be potentially generated in any package, so deny-listing util-linux is not a proper fix.

[2022-06-21 12:38] sgallagher commented on #97
Probably, but this is the first one I've seen cause a problem. I think many of the others don't use `%dist`, so that's probably why we haven't seen it.

[2022-06-21 14:31] fweimer-rh commented on #97
So it turns out that the annobin plugin selector in `redhat-rpm-config` is also affected by this. The ELN buildroot currently contains `annobin-10.76-1.fc37` (as seen with your failed glibc build), and that was built using `gcc-12.1.1-1.fc37`. But the ELN build also contains `gcc-12.1.1-1.eln120`. `redhat-rpm-config` has no way of knowing whether `gcc-12.1.1-1.fc37` and `gcc-12.1.1-1.eln120` have

[2022-06-21 14:39] sgallagher commented on #97
It actually should have been using [annobin-10.76-1.eln120](https://koji.fedoraproject.org/koji/buildinfo?buildID=1984721) but for some reason our distrobuildsync service decided that it was old and untagged it this morning.

Definitely a bug in the untagging logic. I'll re-tag it in and rerun the glibc build.

[2022-06-21 14:53] fweimer-rh commented on #97
Looking at the `root.log` from the `glibc` build failure you reported, it seems to me there are other impacted packages, e.g. `make-1:4.3-8.fc37`, `which-2.21-33.fc37`.

[2022-06-22 14:14] VladimirSlavik opened #98 "TASK: Please provide libtimezonemap-devel"
### What does the ELN SIG need to do?
* Please provide the `libtimezonemap-devel` package

### Why?
* Anaconda does not build without that, see https://github.com/rhinstaller/anaconda/pull/4196

[2022-06-28 16:50] sgallagher commented on #98
https://pagure.io/fedora-comps/pull-request/745

[2022-06-30 15:03] VladimirSlavik commented on #98
PR has been merged, thank you!

[2022-06-30 15:03] #98 closed

[2022-06-30 20:03] hroncok commented on #97
The generator PR was not merged yet. This will happen again eventually.

[2022-07-23 07:31] praiskup opened #99 "TASK: Fix the ELN composes"
Originally discussed in mock PR: https://github.com/rpm-software-management/mock/pull/945

The `glibc-minimal-langpack` seems to be missing, which appears to be a compose bug.
This will break builds in Copr, and local builds.

[2022-07-26 16:05] nirik opened #100 "TASK: enable ima signing"
### What does the ELN SIG need to do?
*
Decide if you would like ima signing enabled for eln packages.

Currently it's not enabled. autosign just signs packages with the fedora-37 rpm gpg key.
Currently Fedora rawhide _is_ using ima signatures (with a fedora-37-ima key).

If eln would like this enabled, we can do so. If not, just close this and we don't have to enable it.

[2022-07-26 19:38] sgallagher commented on #100
We will discuss this at the meeting on 2022-07-29

[2022-07-29 16:31] sgallagher commented on #100
The ELN SIG agreed to enable IMA signing. @nirik has volunteered to take the appropriate actions.

[2022-07-29 17:18] nirik commented on #100
This is done/enabled.

[2022-07-29 17:18] #100 closed

[2022-08-02 20:34] sgallagher commented on #99
Composes are working again

[2022-08-02 20:34] #99 closed

[2022-09-06 09:09] VladimirSlavik commented on #82
It seems that this has been solved since January, I get images that are <24 hours old.

[2022-09-06 09:17] VladimirSlavik opened #101 "ELN packages signed with the F37 key"
Currently, installing the copr dnf plugin fails with wrong signatures.

### What does the ELN SIG need to do?
* Please make it possible to install `dnf-plugins-core`.

### Details
<details>
<summary>logs</summary>

[code]
</details>

[2022-09-06 10:42] mh21 commented on #82
The image tagged with `:eln` still does not contain the `s390x` architecture 🙈.

[2022-09-06 12:15] sgallagher commented on #82
Yeah, I'm still working on this. The s390x and aarch64 container base images aren't building successfully, but I haven't been able to figure out why yet. For example: https://koji.fedoraproject.org/koji/taskinfo?taskID=91535574

[2022-09-12 11:36] VladimirSlavik commented on #101
On my end, this appears resolved.

[2022-09-12 11:36] #101 closed

[2022-09-15 20:42] thrix commented on #19
Ok, the fedora-infrastructure issue was closed :) So we are looking here for updates then.

[2022-09-15 21:33] nirik commented on #19
Just to note why I closed the infra one: We have no one around that knows fedimg (The ancient python2 uploader we have now). But the cloud sig is planning on a new, nicer, better thing, so I figured it would be good to leverage that for this request rather than trying to get our old thing working. I am not sure what the timeline they have is however.
CC: @davdunc

[2022-09-21 14:01] asamalik opened #102 "TASK: Review failed workloads in Content Resolver"
There's quite a few [failed ELN workloads in Content Resolver](https://tiny.distro.builders/view-errors--view-eln.html). Let's review them and fix them.

[2022-09-23 07:25] asamalik opened #103 "TASK: Review Rawhide packages in Content Resolver"
Looking at the [ELN Package Set in Content Resolver](https://tiny.distro.builders/view-packages--view-eln.html), it shows that some packages are pulled in from Rawhide. This is expected in some cases, but not in all.

For example, search for `tuned-profiles-sap-hana` and you'll see that on `aarch64` and `s390x` it's coming from Rawhide, and on `ppc64le` and `x86_64` it's coming from the `SAPHANA`

[2022-09-23 13:16] asamalik opened #104 "TASK: Review 'placeholder' packages in Content Resolver"
There's a few package placeholders in the [ELN Package Set in Content Resolver](https://tiny.distro.builders/view-packages--view-eln.html) (search for 'placeholder'). But some of them definitely exist in Fedora ELN. Let's review this and update the workloads.

[2022-10-11 07:52] sgallagher commented on #91
On Tue, May 31, 2022 at 8:38 PM Josh Stone ***@***.***> wrote:

Sorry, it took a while to get back to this, but I have good news!
python-cryptography built successfully in ELN for the first time this week.

Thanks, Josh!